<div class="row fullDetailsContainer gContainer">
  <div class="col-3 height100p">
    <div class=" categoryDetails">
      <div class="SVGImageDiv">
        <app-thredopport-svg [threadSVG]="(threadOppsubCategory.isOpportunity ? 'opportunity' : 'threat')"
                             [categoryCount]="threadOppsubCategoryRenderData ? threadOppsubCategoryRenderData.impactScore : 0"
                             [categoryName]="threadOppsubCategory.categoryName"></app-thredopport-svg>
        <h5 class="categoryInfor text-center"><span class="categoryScore"
                                                    [style.color]="threadOppsubCategory.isOpportunity ? '#4FD561' :'#FF6060'"> {{threadOppsubDetailCountData}}</span> {{selectCetagoryName}} 
        </h5>
      </div>
    </div>
  </div>


  <div class="col-8 height100p categoryFullDetails" *ngIf="showthreadDetailsDiv">
    <h5 class="slectedViewDetails">
      Select {{selectCetagory === 'opportunity' ? 'an' : 'a' }} {{selectCetagory | languageString:'general'}} to view
      more details</h5>
    <div class="CategoryListComponent">
      <app-thredopportunity-listpage [temp]="threadOppsubCategoryummaryData"
                                     (countChanged)="countChangedHandler($event)"></app-thredopportunity-listpage>
    </div>
  </div>

  <div class="col-9 categoryFullDetails" *ngIf="showDiv">
    <div class="CategoryListComponent">
      <app-thredopportunity-details-page [temp]="threadOppsubCategoryummaryData"
                                         (countChanged)="countChangedHandler($event)"></app-thredopportunity-details-page>
    </div>
  </div>

</div>
