.categoryInfor {
  padding-top: 20px;
  color: #4C5E7A;
  font-style: italic;
}

.categoryScore {
  color: #FF6060;
  font-family: seguiSemiBoldItalian;
}

.categoryDetails {
  height: 100%;
  position: fixed;
  margin: 0px 60px;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slectedViewDetails {
  padding-top: 25px;
  padding-left: 10px;
  color: #111111;
  height: 65px;
  width: 100%;
  margin-bottom: 0;
  font-weight:500;
}

.SVGImageDiv {
  padding-bottom: 136px;
}

.CategoryListComponent{
  height: calc(100% - 65px);
  width: 100%;

}
