.sdz-button {
  text-align: center;
  padding: 4px 8px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  color: #ffffff;
  user-select: none;
  min-width: 90px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  opacity: 0.8;
}

