#topBarContainer .navbar, #topBarContainer .header-component {
  height: 50px;
}

.top-container {
  width: 100%;
  //height: 100%;
  //float: left;
}

#topBarContainer .navbar .logo {
  width: 180px;
}

#topBarContainer .navbar .client-logo {
  position: absolute;
  left: 0;
  right: 0 ;
  margin: auto;
  max-height: 35px;
}

.hamburger-icon {
  background-color: #0f1b57;
  border-radius: 50%;
  /* width: 80%; */
  width: 36px;
}

.hamburger-icon:hover {
  background-color: #283472 !important;
}

.hamburger-icon-positioner {
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem 0rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.navbar {
  background-color: #0F1B57;
  width: 100%;
}

.arrowLeft {
  position: absolute;
  left: 5px;
  top: 12px;
  right: 0;
  margin: auto;
}

.arrowLeft::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: #909090;
  border-width: 0px 2px 2px 0px;
  transform: rotate(135deg);
  left: 0;
  right: 0;
  margin: auto;
}

.back-button {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 6px 5px 0 10px;
  cursor: pointer;
  top: 2px;
}

.back-button:hover {
  box-shadow: inset 0 0 5px 0 #ccc;
}

.header-component {
  box-shadow: 0 0 2px 0;
  height: auto;
  background-color: #fff;
  /* margin-bottom: 20px; */
  position: relative;
  width: 100%;
  z-index: 5;
}

.titleBar {
  display: inline-block;
  position: relative;
  top: -8px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  color: #303030;
}

.titleBarHidden {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  color: #303030;
  padding-top: 12px;
}

.titleBarLink {
  margin-left: 15px;
  top: 28px;
  font-size: 13px;
  color: #212529;
  position: relative;
  cursor: pointer;
}

.titleBarLinkActive {
  font-family: SegoeUI-SemiBold;
  border-bottom: 2px solid #36528A;
  color: #36528A;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .titleBarHidden {
    font-style: normal !important;;
  }
}

.filter {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  cursor: pointer;
  padding: 16px 80px 16px 12px;
  margin-right: 30px;
  color: #8B8B8B;
  font-size: 12px;
  font-family: SegoeUI-regular;
}

.filter:hover {
  box-shadow: inset 0 0 5px 0 #ccc;
}

.flex {
  display: flex;
}

.align-end {
  justify-content: flex-end;
}

.arrow {
  position: absolute;
  font-size: 26px;
  transform: rotate(90deg);
  margin-left: 50px;
  top: 8px;
}
