<div class="top-container" id="topBarContainer">
  <nav class="navbar navbar-expand-md navbar-dark bg-nav-blue">
    <div class="row w-100">
      <div class="col-6 d-flex flex-wrap pl-0">
        <div class="hamburger-icon-positioner" (click)="toggleTriggered()">
          <img src="{{hamburgerIconUrl}}" alt="Toggle Navbar" class="hamburger-icon pointer">
        </div>
        <a class="navbar-brand mr-0 pl-3  " routerLink="/">
          <img class="logo" src="{{sdzLogoUrl}}" alt="SDZ Logo">
        </a>
      </div>
    </div>
    <img class="client-logo" src="{{clientLogoUrl}}" alt="SDZ Logo">
  </nav>
</div>
<!--assets/Images/StrategyDotZero_dark_background_blank.png-->
