<div *ngIf="(threadSVG === 'threat')">
  <svg viewBox="0 0 235.878 235.878" width="200" height="200" [attr.transform]="svgScale" [ngStyle]="{'transform': svgScale}" class="rectSvg">
    <g transform="translate(3862.439 -182.561)">
      <rect class="a" width="221" height="221" rx="13" fill="#ff6060" opacity="0.2"
            transform="matrix(0.998, -0.07, 0.07, 0.998, -3862.439, 197.977)"></rect>
      <rect class="b" width="221" height="221" rx="13" fill="#ff6060" opacity="0.5"
            transform="matrix(0.998, 0.07, -0.07, 0.998, -3847.023, 182.561)"></rect>
      <rect class="C" width="219" height="219" rx="13" fill="#fff" transform="translate(-3854 191)"></rect>
    </g>
    <g transform="translate(3862.439 -182.561)">
      <rect class="a" width="221" height="221" rx="13" fill="#ff6060" opacity="0.2"
            transform="matrix(0.998, -0.07, 0.07, 0.998, -3862.439, 197.977)"></rect>
      <rect class="b" width="221" height="221" rx="13" fill="#ff6060" opacity="0.5"
            transform="matrix(0.998, 0.07, -0.07, 0.998, -3847.023, 182.561)"></rect>
      <rect class="C" width="219" height="219" rx="13" fill="#fff" transform="translate(-3854 191)"></rect>
    </g>
    <text y="110" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#4C5E7A" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="ladingPage">{{categoryName}}</text>
    <text y="100" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#4C5E7A" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="!ladingPage">{{categoryName}}</text>
    <text y="145" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#008AD1" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="ladingPage" >{{categoryCount | number :'1.1-1'}}</text>
    <text y="140" x="120" text-anchor="middle" font-size="15" font-family=""
          fill="#008AD1" [@simpleFadeAnimation]="'in'" class="" *ngIf="!ladingPage">Overall impact score</text>
    <text y="175" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#008AD1" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="!ladingPage" >{{categoryCount | number :'1.1-1'}}</text>
  </svg>

</div>


<div *ngIf="(threadSVG === 'opportunity')">
  <svg viewBox="0 0 235.878 235.878" width="200" height="200" [attr.transform]="svgScale" [ngStyle]="{'transform': svgScale}" class="rectSvg">
    <g transform="translate(3862.439 -182.561)">
      <rect class="a" width="221" height="221" rx="13" fill="#4FD561" opacity="0.2"
            transform="matrix(0.998, -0.07, 0.07, 0.998, -3862.439, 197.977)"></rect>
      <rect class="b" width="221" height="221" rx="13" fill="#4FD561" opacity="0.5"
            transform="matrix(0.998, 0.07, -0.07, 0.998, -3847.023, 182.561)"></rect>
      <rect class="C" width="219" height="219" rx="13" fill="#fff" transform="translate(-3854 191)"></rect>
    </g>

    <g transform="translate(3862.439 -182.561)">
      <rect class="a" width="221" height="221" rx="13" fill="#4FD561" opacity="0.2"
            transform="matrix(0.998, -0.07, 0.07, 0.998, -3862.439, 197.977)"></rect>
      <rect class="b" width="221" height="221" rx="13" fill="#4FD561" opacity="0.5"
            transform="matrix(0.998, 0.07, -0.07, 0.998, -3847.023, 182.561)"></rect>
      <rect class="C" width="219" height="219" rx="13" fill="#fff" transform="translate(-3854 191)"></rect>
    </g>
    <text y="120" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#4C5E7A" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="ladingPage">{{categoryName}}</text>
    <text y="100" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#4C5E7A" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="!ladingPage">{{categoryName}}</text>
    <text y="150" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#008AD1" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="ladingPage">{{categoryCount | number :'1.1-1'}}</text>
    <text y="140" x="120" text-anchor="middle" font-size="15" font-family=""
          fill="#008AD1" [@simpleFadeAnimation]="'in'" class="" *ngIf="!ladingPage">Overall impact score</text>
    <text y="175" x="120" text-anchor="middle" font-size="25"  font-weight="500"
          fill="#008AD1" [@simpleFadeAnimation]="'in'" class="fontFamily" *ngIf="!ladingPage">{{categoryCount | number :'1.1-1'}}</text>
  </svg>

</div>
