<div class="confirmation-box-container" id="test1">
  <div class="flex-center content-positioner">
    <img *ngIf="warningImage" src="{{warningImage}}" alt="" class="alert-icon">
    <div class="text-positioner" [ngClass]="{'flex-vertical-center': !subtitle}">
      <div *ngIf="title" class="title" [innerHTML]="title | safeHtml"></div>
      <div *ngIf="subtitle" class="subtitle" [innerHTML]="subtitle | safeHtml"></div>
    </div>
  </div>

  <div class="bottom-positioner">
    <div class="flex-center">
      <div class="btn-style" (click)="success()"
           [ngStyle]="{'color': successButtonTextColor ? successButtonTextColor : 'white', 'background-color': successButtonBgColor ? successButtonBgColor : 'red', 'border': successBorder}">{{successButtonText ? successButtonText : 'CONFIRM'}}</div>
      <div class="btn-style ml-4" (click)="cancel()"
           [ngStyle]="{'color': cancelButtonTextColor ? cancelButtonTextColor : 'black', 'background-color': cancelButtonBgColor ? cancelButtonBgColor : 'white', 'border': cancelBorder}">{{cancelButtonText ? cancelButtonText : 'CANCEL'}}</div>
    </div>
  </div>

</div>
