.confirmation-box-container {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  height: 200px;
  margin: auto;
  background-color: #FFFFFF;
  z-index: 9999;
  border-radius: 4px;
  border: #FFFFFF;
  box-shadow: 0px 1px 8px 0px #c5b5b5;
  //position: fixed;
  //top: 50%;
  //left: 50%;
  //-ms-transform: translateX(-50%) translateY(-50%);
  //-webkit-transform: translate(-50%,-50%);
  //transform: translate(-50%,-50%);
  transform-origin: center;
  animation: popup 0.4s;

  .content-positioner {
    margin-top: 50px;
    padding: 0px 12px;
  }

  .text-positioner {
    padding-left: 20px;
  }

  .title {
    color: #303030;
    font-size: 14px;
    font-weight: 600;
  }

  .subtitle {
    color: #303030;
    font-size: 12px;
    padding-top: 6px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert-icon {
  width: 60px;
}

.bottom-positioner {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.btn-style {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 600;
  cursor: pointer;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.popOut {
  animation: popDown 0.4s;
}

@keyframes popDown {
  100% {
    transform: scale(1);
  }
  0% {
    transform: scale(0);
  }
}

