.slider {
  -webkit-appearance: none;
  width: 100%;
  //height: 10px;
  position: absolute;
  //background: #f3f3f3;
  outline: none;
  border-radius: 8px;
  //pointer-events: none
}

.slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 25%;
  top: 15px;
  width: 50%;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #E6E6E6;
  border: none;
  border-radius: 3px;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  //border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #3972D6;
  margin-top: -4px;
  cursor: pointer;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e6e6e6;
  border: 2px solid #cdcdcd;

  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ea4550;

  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
}

.slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  border: 0;
}

.slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.slider input[type="range"]::-moz-focus-outer {
  border: 0;
}

#test1 {
  position: relative;
}

#test2 {
  position: relative;
}

.flex-next {
  display: flex;
  justify-content: flex-start;
}

.dual-slider-container {
  position: relative;
  width: 100%;
}

.dual-slider-text-left {
  position: relative;
  bottom: 12px;
  right: 8px;

  .text-style {
    color: #303030;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }

  .text2 {
    text-align: right;
    font-size: 14px;
  }
}

.dual-slider-text-right {
  position: relative;
  bottom: 12px;
  left: 8px;

  .text-style {
    color: #303030;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }

  .text2 {
    text-align: left;
    font-size: 14px;
  }
}

.pointer {
  cursor: pointer;
}

//Internet Explorer Support
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

#lower::-ms-fill-lower {
  background: #E6E6E6;
  border-radius: 10px;
}

#lower::-ms-fill-upper {
  background: #E6E6E6;
  border-radius: 10px;
}

#higher::-ms-fill-lower {
  background: transparent;
  border-radius: 10px;
}

#higher::-ms-fill-upper {
  background: transparent;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  //border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  border: 1px solid #3972D6;
  //cursor: hand;
}

//input[type=range]:focus::-ms-fill-lower {
//  background: #E6E6E6;
//}
//input[type=range]:focus::-ms-fill-upper {
//  background: #E6E6E6;
//}
input[type=range]::-ms-tooltip {
  display: none;
}
