<div style="padding:8px" class="col-12 row m-0">
  <div class="dual-slider-text-left col-2 p-0">
    <div class="text-style">
      {{minValue}}
    </div>
    <div class="text2">{{minValueText}}</div>
  </div>
  <div class="col-8 p-0">
    <div class="dual-slider-container">
      <input (click)="getSliderOneValue($event)" type="range" min="{{minValue}}" max="{{maxValue}}" step="1"
             value="{{sliderOneValue}}"
             class="slider" [disabled]="disabled"  [ngClass]="{'pointer' : !disabled}"
             id="lower">
      <!--    <div id="test1">-->
      <!--      {{sliderOneValue}}-->
      <!--    </div>-->
    </div>
    <div class="dual-slider-container">
      <input (click)="getSliderTwoValue($event)" type="range" min="{{minValue}}" max="{{maxValue}}" step="1"
             value="{{sliderTwoValue}}"
             class="slider" [disabled]="disabled" [ngClass]="{'pointer' : !disabled}"
             id="higher">
      <!--    <div id="test2">-->
      <!--      {{sliderTwoValue}}-->
      <!--    </div>-->
    </div>
  </div>
  <div class="dual-slider-text-right col-2 p-0">
    <div class="text-style">{{maxValue}}</div>
    <div class="text2">{{maxValueText}}</div>
  </div>
</div>


