<div *ngIf="threadDetailDiv">
  <div class="detailContainer">
    <div class="row headingContainerl">
      <h6 class="threadlabel" [style.color]="this.tempJSONIcheck.isOpportunity ? '#4FD561' :'#FF6060'">{{name}}</h6>


      <div class="row">
        <div class="col-10"><h5 class="informationdetails"> {{tempJSONRender.title}} </h5></div>
        <div class="col-1"><img class="closeBlack" src="./assets/Images/closeCircleBlueImg.svg"
                                (click)="navigationLink()" alt="close" style="width: 27px;"/> <br> <span
          class="clsoeText"> CLOSE</span></div>
      </div>


      <div class="row valueContainer">
        <div class="col-2">
          <span class="headingName">{{'IMPACT' | languageString:'general'}} SCORE </span> <br>
          <span class="valueName">{{tempJSONRender.impactScoreDescription}} </span> <br>
        </div>
        <div class="col-2">
          <span class="headingName">{{'EXPECTED' | languageString:'general'}} TIME </span> <br>
          <span class="valueName">{{tempJSONRender.expectedTime}}</span>
        </div>
        <div class="col-2">
          <span class="headingName">{{'LIKELIHOOD' | languageString:'general'}} </span> <br>
          <span class="valueName">{{tempJSONRender.likelihood}} </span>
        </div>
        <div class="col-2">
          <span class="headingName">{{'TREND' | languageString:'general'}} CATEGORY </span> <br>
          <span class="valueName">{{tempJSONRender.trendCategory}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="likeTrendContainer">
    <div class="likeTrendHeading"><h6 class="likeTrendHeadingInfo">LINKED {{'TREND' | languageString:'general'}}</h6>
    </div>
    <div class="row ">
      <div class="col-8 likeTrendCard">
        <div class="likeTrendCardHeading">
          <h6 class="likeTrendCardHeadingInfo">{{tempJSONRender.trendName}}</h6>
        </div>
        <div class="likeTrendCardContent">
          <p class="likeTrendCardContentInfo">{{tempJSONRender.trendDescription}}</p>
          <img class="directionIndicater" src="./assets/Images/interfacerightsideblue.svg"
               (click)="trendDetaildPopupFun()" alt="directionIndicater" style=" margin-left: 80px;height: 30px"/>
        </div>

        <div class="thredOpportunitycontainer">
          <h6 class="thredOpportunitylabel"><span
            class="scorethred">{{tempJSONRender.threatsCount}} </span> Threats </h6>
          <h6 class="thredOpportunitylabel"><span
            class="scoreOpportunity">{{tempJSONRender.opportunitiesCount}} </span>  Opportunities
          </h6>
        </div>
      </div>
    </div>
    <div class="row impactedDetails" >
      <div class="col-lg-3">
        <h6><span class="impactedScore">{{tempJSONRender.impactedStrategies.length}}</span>
          <span>IMPACTED {{'STRATEGIES' | languageString:'general'}} </span></h6>
        <div class="imapctlineImageGradian"></div>

      </div>
      <div class="col-lg-8" style="display:flex;" *ngIf="tempJSONRender.impactedStrategies.length > 0">

        <div *ngFor="let data of tempJSONRender.impactedStrategies;" style="display: flex"><h6
          class="imapctcategory">  {{data}} </h6>
          <img src="./assets/Images/interfacerightsideblue.svg"/>
          <div class="verticalLine"></div>
        </div>
      </div>
      <div class="col-lg-8" style="display:flex;" *ngIf="!tempJSONRender || !tempJSONRender.impactedStrategies || tempJSONRender.impactedStrategies.length === 0">

        <div style="display: flex"><h6
          class="imapctcategory">No Impacted Strategies </h6>
        </div>
      </div>
    </div>
    <div class="row impactedDetails">
      <div class="col-lg-3">
        <h6><span class="impactedScore">{{tempJSONRender.impactedCapabilities.length}}</span>
          <span>IMPACTED {{'CAPABILITIES' | languageString:'general'}} </span></h6>
        <div class="imapctlineImageGradian"></div>

      </div>
      <div class="col-lg-8" style="display:flex;" *ngIf="tempJSONRender.impactedCapabilities.length > 0">

        <div *ngFor="let data of tempJSONRender.impactedCapabilities;" style="display: flex"><h6
          class="imapctcategory"> {{data}} </h6>
          <img src="./assets/Images/interfacerightsideblue.svg"/>
          <div class="verticalLine"></div>
        </div>
      </div>
      <div class="col-lg-8" style="display:flex;" *ngIf="!tempJSONRender || !tempJSONRender.impactedCapabilities || tempJSONRender.impactedCapabilities.length === 0">

        <div style="display: flex"><h6
          class="imapctcategory">No Impacted Capabilities </h6>
        </div>
      </div>
    </div>
  </div>

</div>


<div *ngIf="trendDetailDIv" >
  <app-trend-category-details (countChanged)="countChangedHandler($event)"></app-trend-category-details>
</div>
