.headingContainerl {
  display: inline;
  padding-left: 54px;
}

.detailContainer {
  padding-top: 35px;
}

.threadlabel {
  color: #FF6060;
  padding-left: 15px;
  font-size: 14px;
}

.informationdetails {
  padding-right: 28px;
  color: #314353;
  font-weight:500;
}

.clsoeText {
  font-size: 11px;
  color: #303030;
}

.valueContainer {
  padding-top: 25px;
}

.headingName {
  color: #707070;
  font-size: 14px;
}

.valueName {
  color: #4E4E4E;
  font-size: 28px;
  font-weight:500;
}

.likeTrendContainer {
  background-color: #F0F4F8;
  margin-top: 30px;
  box-shadow: 0 0 1px 0 #ccc;
}

.likeTrendContainer {
  padding-top: 39px;
  padding-left: 66px;
  margin-right: -15px;
  padding-bottom: 60px;
}

.likeTrendHeadingInfo {
  color: #606060;
  font-size: 12px;
  font-weight:500;
  margin-bottom: 12px;
}

.likeTrendCard {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.likeTrendCardContent {
  display: flex;
}

.thredOpportunitycontainer {
  display: flex;
}

.likeTrendCardHeadingInfo {
  color: #53B8D1;
  font-size: 14px;
  font-weight:500;
}

.likeTrendCardContentInfo {
  color: #707070;
  font-size: 14px;
  width: 82%;
}

.thredOpportunitylabel {
  color: #808080;
  font-weight:500;
  font-size: 16px;
}

.scorethred {
  color: #FF6060;
}

.scoreOpportunity {
  color: #4FD561;
  padding-left: 17px;
}

.impactedDetails img {
  padding-left: 16px;
  height: 30px;
  margin-top: 5px;
  opacity: .5;
  pointer-events: none;
}

.impactedDetails {
  padding-top: 35px;
  padding-bottom: 35px;
}

.impactedDetails h6 {
  color: #606060;
  font-size: 14px;
  padding-left: 12px;
}

.impactedScore {
  color: #5484D1;
  font-size: 25px;
  padding-right: 8px;
}

.imapctlineImageGradian {
  background-image: linear-gradient(to left, white, #5484D1);
  padding: 2px;
}

.imapctcategory {
  padding-top: 12px;
  color: #7D7D7D;
}

.verticalLine {
  border-left: 2px solid #DFDFDF;
  height: 38px;
  margin-left: 20px
}
