.sdz-card {
  // border: 2px solid #53B8D1;
  border-radius: .25rem;
  padding: 2px;
  display: inline-block;
  max-width: 130px;
}

.filter-single-container {
  padding: 0px 4px;
  margin: 0px 1px;
  display: flex;
  justify-content: flex-start;
}

.cross-icon {
  // color: #53B8D1;
  font-weight: 900;
  cursor: pointer;
}

.text-style {
  // color: #707070;
  font-size: 14px;
  // font-family: SegoeUI-Regular;
  font-weight: 400;
  // padding: 0px 4px;

  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  display: inline-block;
  overflow: hidden;
}

