<div class="sdz-card" id="filter-card"
     [ngStyle]="{'background-color': bgColor ? bgColor : '','border': borderStyle ? borderStyle : bgColor ? '2px solid ${bgColor}' : '2px solid #53B8D1'}">
  <div *ngIf="tag" class="filter-single-container">
    <div *ngIf="tag.name" [ngStyle]="{'color':textColor ? textColor : '#707070'}"
         class="text-style p-0">{{tag.name}}</div>
    <!-- Cross Icon/ Remove Button -->
    <!--    <div class="col-1" style="padding: 0px 4px">-->
    <div class="pl-2">
      <span (click)="removeTag()" class="cross-icon"
            [ngStyle]="{'color':textColor ? textColor : '#53B8D1'}">&#10005;</span>
    </div>
  </div>
</div>
