<div class="gContainer">
  <div class="headerContainer">
    <app-top-bar></app-top-bar>
  </div>
  <div class="viewContainer">
    <router-outlet></router-outlet>
  </div>
</div>

<ngx-spinner
  bdOpacity="0.2"
  bdColor="rgba(44, 59, 107, 0.16)"
  size="medium"
  color="#1037a9"
  type="timer"
  [fullScreen]="true">
</ngx-spinner>

<!--type="ball-scale-multiple"-->
