@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
/* Custom Fonts*/
@font-face {
  font-family: SegoeUI-bold;
  src: url('../src/assets/fonts/segoeuiRegularbold.ttf') format("truetype");
}

@font-face {
  font-family: SegoeUI-regular;
  src: url('../src/assets/fonts/segoeuRegular.ttf') format("truetype");
  //src: url('../src/assets/fonts/SegoeUI-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: SegoeUI-light;
  src: url('../src/assets/fonts/segoeuiLight.ttf') format("truetype");
}

@font-face {
  font-family: SegoeUI-Italian;
  src: url('../src/assets/fonts/segoeuRegularItalian.ttf') format("truetype");
}

@font-face {
  font-family: SegoeUI-SemiBold;
  src: url('../src/assets/fonts/seguiSemiBold.ttf') format("truetype");
}

@font-face {
  font-family: SegoeUI-SemiLightItalian;
  src: url('../src/assets/fonts/seguiSemiLightItalian.ttf') format("truetype");
}

@font-face {
  font-family: seguiSemiBoldItalian;
  src: url('../src/assets/fonts/seguiSemiBoldItalian.ttf') format("truetype");
}

body {
  width: 100%;
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: SegoeUI-regular ;
}

h1, h2, h3, h4, h5, h6, p, li, a, button, input, label, body {
  // font-family: SegoeUI-regular;
  font-weight: normal;
  font-style: normal;
}

.nopadding{
  padding: 0 !important;
}

.font-SegoeSemiBold {
  font-family: SegoeUI-SemiBold;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

img {
  cursor: pointer;
}


.gContainer {
  width: 100%;
  height: 100%;
  float: left;
}

.headerContainer {
  width: 100%;
  height: 100px;
  float: left;
}

.viewContainer {
  width: 100%;
  height: calc(100% - 100px);
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.spanFull {
  width: 100%;
}

.flip-list-move {
  transition: transform 0.8s;
}

.overlay {
  transition: background-color 1s;
}

//
//.yAxisScale .tick{
//  display: none;
//}

.xAxisScale .tick line, .yAxisScale .tick line {
  display: none;
}

.xAxisScale .tick text, .yAxisScale .tick text {
  fill: #a09f9f;
  font-family: Segoe UI, Semibold;
  font-size: 10px;
  font-weight: 700;
}

.xAxisScale .tick text {
  transform: translateY(7px);
}

.yAxisScale .tick text {
  transform: translateX(-10px);
}

.trendChartCategoryText {
  text-anchor: end;
  font-size: 10px;
  font-family: Segoe UI, Semibold;
  font-weight: 700;
  fill: #716464;
  text-transform: uppercase;
}

#chartContainer .grid line {
  stroke: #c8e7ea;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
  transform: translateX(15px);
}

#chartContainer .grid path {
  stroke-width: 0;
}

//.xAxisScale .tick:nth-child(1) {
//  display: none;
//}
//
//.xAxisScale .tick:last-child {
//  display: none;
//}

.height100p{
  height: 100%;
}
