<div class="filter-container">

  <div class="filter-title-text">Choose filters</div>

  <!-- selected filters -->
  <div class="flex" style="justify-content: space-between">
    <div style="width: 90%">
      <sdzl-widget-filter-tags [filterTags]="selectedFilters" (deletedTag)="deletedFilterTags($event)"
                               [textColor]="'#707070'" [bgColor]="'#FFFFFF'" [borderStyle]="'2px solid #53B8D1'">
      </sdzl-widget-filter-tags>
    </div>
    <div class="filter-button">
      <div (click)="applyFilters()" class="sdz-button-text pointer sdz-button-rounded">APPLY FILTERS</div>
      <div class="clear-style pointer" (click)="clearFilters()">
        <span>&#10005;</span> CLEAR ALL
      </div>
    </div>
  </div>
  <div class="filter-text-2">Select one or more filter(s)</div>

  <!-- checkbox Filters -->
  <div class="flex left-align-flex height-based-vertical-scroll" *ngIf="checkBoxFilters && checkBoxFilters.length > 0">
    <div class="flex left-align-flex">
      <div class="p-2" *ngFor="let eachCheckboxData of checkBoxFilters | slice: 0 :2">
        <sdzl-widget-multiselect-checkbox [checkbox]="eachCheckboxData" [spacedNext]="true" [isTitleAlignLeft]="true"
                                          [maxSelectableCheckboxes]="isMaxSelectable(eachCheckboxData) ? 1 : '' "
                                          (currentSelectedCheckbox)="selectedCheckbox($event,eachCheckboxData.id)">
        </sdzl-widget-multiselect-checkbox>
      </div>
    </div>

    <!-- Accordion With Strategy Group Checkbox Filters -->
    <div class="flex left-align-flex" *ngIf="strategyAccordionFilters && strategyAccordionFilters.length > 0">
      <div class="p-2 height-based-vertical-scroll" *ngFor="let eachAccordionFilter of strategyAccordionFilters">
        <div *ngIf="eachAccordionFilter.title" class="eachAccordionFilter-title">{{eachAccordionFilter.title}}</div>
        <div class="p-1" *ngFor="let eachAccordionData of eachAccordionFilter.accordionFilterData">
          <sdzl-widget-accordion-with-checkbox [accordionCheckboxes]="eachAccordionData" [enableTick]="true"
                                               (currentSelectedAccordionCheckbox)="selectedCheckbox($event,eachAccordionFilter.id)">
          </sdzl-widget-accordion-with-checkbox>
        </div>
      </div>
    </div>

    <!-- Accordion With Capability Group Checkbox Filters -->
    <div class="flex left-align-flex" *ngIf="capabilityAccordionFilters && capabilityAccordionFilters.length > 0">
      <div class="p-2 height-based-vertical-scroll" *ngFor="let eachAccordionFilter of capabilityAccordionFilters">
        <div *ngIf="eachAccordionFilter.title" class="eachAccordionFilter-title">{{eachAccordionFilter.title}}</div>
        <div class="p-1" *ngFor="let eachAccordionData of eachAccordionFilter.accordionFilterData">
          <sdzl-widget-accordion-with-checkbox [accordionCheckboxes]="eachAccordionData" [enableTick]="true"
                                               (currentSelectedAccordionCheckbox)="selectedCheckbox($event,eachAccordionFilter.id)">
          </sdzl-widget-accordion-with-checkbox>
        </div>
      </div>
    </div>

    <!--    Divisons-->
    <div class="flex left-align-flex">
      <div class="p-2" *ngFor="let eachCheckboxData of checkBoxFilters | slice: 2 : 3">
        <sdzl-widget-multiselect-checkbox [checkbox]="eachCheckboxData" [spacedNext]="true" [isTitleAlignLeft]="true"
                                          [maxSelectableCheckboxes]="isMaxSelectable(eachCheckboxData) ? 1 : '' "
                                          (currentSelectedCheckbox)="selectedCheckbox($event,eachCheckboxData.id)">
        </sdzl-widget-multiselect-checkbox>
      </div>
    </div>

    <!--    Branch-->
    <div class="flex left-align-flex">
      <div class="p-2" *ngFor="let eachCheckboxData of checkBoxFilters | slice: 3 : 4">
        <sdzl-widget-multiselect-checkbox [checkbox]="eachCheckboxData" [spacedNext]="true" [isTitleAlignLeft]="true"
                                          [maxSelectableCheckboxes]="isMaxSelectable(eachCheckboxData) ? 1 : '' "
                                          (currentSelectedCheckbox)="selectedCheckbox($event,eachCheckboxData.id)">
        </sdzl-widget-multiselect-checkbox>
      </div>
    </div>

    <!--    Trend Sources-->
    <div class="flex left-align-flex">
      <div class="p-2" *ngFor="let eachCheckboxData of checkBoxFilters | slice: 4 : 5">
        <sdzl-widget-multiselect-checkbox [checkbox]="eachCheckboxData" [spacedNext]="true" [isTitleAlignLeft]="true"
                                          [maxSelectableCheckboxes]="isMaxSelectable(eachCheckboxData) ? 1 : '' "
                                          (currentSelectedCheckbox)="selectedCheckbox($event,eachCheckboxData.id)">
        </sdzl-widget-multiselect-checkbox>
      </div>
    </div>
  </div>

</div>
