.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.filter-container {
  position: absolute;
  width: 98vw;
  height: 85vh;
  background-color: #F9FAFB;
  border-radius: 5px;
  padding: 24px;
  z-index: 1;
  right: 2%;
  top: 60px;
}

.filter-title-text {
  font-weight:500;
  color: #000000;
  font-size: 24px;
  text-align: left;
}

.height-based-vertical-scroll {
  height: 70vh;
  overflow-y: auto;
}

.filter-text-2 {
  color: #A7A7A7;
  padding: 10px 0px;
  text-align: left;
}

.filter-button {
  z-index: 1;
}

.sdz-button-rounded {
  border: 2px solid #53B8D1;
  border-radius: 4px;
  color: #53B8D1;
  width: 125px;
  height: 35px;
}

.sdz-button-text {
  padding: 4px;
  font-size: 14px;
  text-align: center;
}

.left-align-flex {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.eachAccordionFilter-title {
  font-size: 20px;
  color: #707070;
  padding-left: 9px;
  margin-bottom: 12px;
  @extend .flex-start;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.clear-style {
  color: #4C5E7A;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 10px;
}


