<div id="chartContainer">
  <div class="yAxisGradient"></div>
  <label class="yAxisTitle">{{'IMPACT' | languageString:'general'}} SCORE</label>
  <label class="xAxisTitle">{{'EXPECTED' | languageString:'general'}} TIME</label>
</div>
