#chartContainer {
  position: relative;
  width: 100%;
}

#chartContainer .xAxisTitle{
  color: #a09f9f;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 2px;
  font-size: 10px;
  //font-family: Segoe UI, Semibold;
  font-weight: bold;
}

#chartContainer .yAxisTitle{
  color: #a09f9f;
  position: absolute;
  top: 47%;
  left: -10px;
  font-size: 10px;
  font-weight: bold;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.yAxisGradient{
  position: absolute;
  width: 8px;
  height: 63%;
  background: linear-gradient(to bottom, #BED8F1, rgba(255, 255, 255, 0));
  top: 13%;
  left: 43px;
}
