<div class="full-width flex">
  <nav id="sidebar" [ngClass]="{'hidden': hideSideBar }" [ngStyle]="{'height' : customHeight ? customHeight : '100%'}">
    <ul class="navbar-nav mainMenu sidebar-contents">
      <li [attr.href]="'#submenu'+i" [attr.id]="'menu'+i" style="position: relative"
          [class.active]="i === selectedParentIndex ? 'active' : '' "
          *ngFor="let eachContent of sideBarData;let i = index" (click)="rotateArrow(i)"
          class="nav-item active flex-space-between">
        <a (click)="redirectToParentTarget(i)">{{eachContent.name}}</a>
        <!--      Arrow Icon-->
        <span class="arrow" *ngIf="eachContent.subMenu && eachContent.subMenu.length > 0" [attr.id]="i">&#8249;</span>
        <!--      Sub Menu-->
        <ul class="subMenu navbar-nav collapse" [attr.id]="'submenu'+i"
            *ngIf="eachContent.subMenu && eachContent.subMenu.length > 0">
          <li [class.active]="j === selectedSubMenuIndex ? 'active' : '' " (click)="redirectToChildrenTarget(i,j)"
              *ngFor="let eachSubMenuContent of eachContent.subMenu;let j = index">
            <a class="submenu-label">{{eachSubMenuContent.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="router-width">
    <router-outlet></router-outlet>
  </div>
</div>
