:host {
  background: #343a40;
}

#sidebar {
  margin-left: 0px;
  min-width: 290px;
  //max-width: 250px;
  // width: 290px;
  // min-height: 100vh;
  //height: 100vh;
  background: #f0f0f0;
  color: #656565b0;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.16);
  border-right: 1px solid #ccc7c7;
  overflow-y: auto;
  user-select: none;
  z-index: 999;
  height: 100%;
  float: left;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1199px) {
  #sidebar {
    position: absolute;
  }
}

@media only screen and (min-width: 1200px) {
  #sidebar {
    position: relative;
  }
}

//Hardcoded height for IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #sidebar {
    height: calc(100vh - 50px) !important;
  }

  .router-width {
    padding-left: 1px;
  }
}

.sidebar-contents {
  margin-top: 66px;
}

#sidebar.hidden {
  margin-left: -290px;
}

@media (max-width: 575px) {
  #sidebar {
    margin-left: -290px;
  }
  #sidebar.hidden {
    margin-left: 0;
  }
}

a:hover {
  color: #000016 !important;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 14px 30px;
  font-size: 14px !important;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 400;
  //color: #8B8B8B;

  &:hover {
    //background-color: rgba(255, 255, 255, 0.1);
    color: #000016;
    text-decoration: none;
    transition: all 0.3s;
  }
}

hr {
  border-top: 1px solid #fff;
  margin-top: 0;
}

.arrow {
  position: absolute;
  font-size: 26px;
  transform: rotate(270deg);
  right: 26px;
  top: 10px;
  //left: 90%;
  ///* right: 100px; */
  //bottom: 50px;
  user-select: none;
}

.mainMenu > li.active {
  background-color: #e6e6e6;
}

.mainMenu > li.active > a {
  border-left: 3px solid #1473e6;
  // background-color: rgb(230, 230, 230);
  color: #000 !important;
  font-weight: 600 !important;
}

.subMenu > li.active > a {
  color: #000016;
}

.active {

  .subMenu {
    background: rgb(230, 230, 230);

    //li:hover {
    //  text-decoration: underline;
    //}
  }
}

.subMenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 2s ease-out;
  background-color: inherit;

  li {
    position: relative;
    padding: 0px 16px;

    a {
      display: block;
      background-color: inherit;
      color: #8B8B8B;
      font-weight: 400;
      padding: 9px 20px;
      font-size: 12px;
      transition: all .4s ease;

      .submenu-label {
        display: inline-block;
        transition: all .2s ease;
      }

      &:hover .submenu-label {
        color: #fff;
        transform: translateX(5px);
        transition: all .2s ease;
      }
    }
  }
}

.full-width {
  width: 100%;
  height: 100%;
  float: left;
}

.router-width {
  width: 100%;
  //width: calc(100% - 290px);
  height: 100%;
  float: left;
}
