<div class="gContainer" >

<div class="row organizaImpactComponent">
  <div class="overallImpact">
    <h6 class="overallImpactText"><span style="color:#FEDB6E">Overall impact score </span> for Capability Groups</h6><br>
  </div>
  <div class="trendCategories text-center" >
    <span class="selectTrend">Select a {{'capability' | languageString:'general'}} group to view impact on {{'capabilities' | languageString:'general'}} </span>
  </div>
</div>

<div class="scoreSVGContainer" >
  <div class="col-12 marginTop" [transition-group]="'flip-list'" *ngIf="renderData.length" [style.marginTop.px]="marginTop">
    <div class="organizaImpactSVGImage" id="containerDiv" #widgetsContent>
      <span class="horizontalline"></span>
      <div *ngFor="let data of renderData | orderBy: 'capabilityGroupImpactScore'" transition-group-item  [style.transform]="'scale('+windowHeight+')'">
        <div [ngClass]="data.capabilityGroupImpactScore > 0 ? '' : 'countZero'">
        <app-organisation-impact-circle-svg (click)="navigationLink(data)" [svgScale]="'scale(' + data.scale + ')'"
                                            [categoryCount]="data.capabilityGroupImpactScore" [color]="svgColor "                                            
                                            [temp]="data"></app-organisation-impact-circle-svg>
        </div>
        <h5 class="organizationImpactlabel text-center"> {{data.capabilityGroupName}} </h5>
        <h5 class="text-center"><h5 class="organizationImpactCount"> {{data.capabilitiesCount}} Capabilities </h5></h5>
      </div>
    </div>
    <img class="leftArrow" [hidden]='!parameter' (click)="scrollLeft()"  src="./assets/Images/left-arrow.svg" alt="left">
    <img class="rightArrow" [hidden]='!parameterright'(click)="scrollRight()" src="./assets/Images/right-arrow.svg" alt="right">
  </div>
</div>

<div class="row timelineFilter">
  <div class="col-12 text-center">
    <app-timeline-impactscorfilter (applyFilterEvent)="yearFilterSelected($event)"
                                   [yearActive]="timeLineImapctYearID"></app-timeline-impactscorfilter>
  </div>
</div>
</div>
