.organizaImpactComponent{
  padding: 24px 35px;
  height: 120px;
  display: -ms-grid;
}
.overallImpactText{
  color: #4C5E7A;
  padding: 10px 25px;
  background-color: #f8f8f8;
  width: auto;
  font-size: 17px;
  border-radius: 7px;
  margin-bottom: 0;
  //font-weight: 600;
  //font-weight:500;
  float: left;
}
.selectTrend{
  position: relative;
  font-size: 15px;
  font-style: italic;
  color: #808080;
  float: left;
  margin-left: 11px;
}
.trendCategory{
  color: #F3F3F3;
}
.scoreSVGContainer{
  padding: 10px 35px 10px 37px;
  height: calc(100% - 220px);
}
.categoryInformation{
  display: flex;
  padding: 24px 0px;
  margin-left: -12px;
}

.categoryText{
  color: #4C5E7A;
  font-weight:500;
}
.categorylabel{
  background-color: #F6F6F6;
  font-size: 13px;
  margin-left: 28px;
  padding: 6px 14px;
  border-radius: 11px;
  font-style: italic;
  color: #4C5E7A;
}

.horizontalline{
  position: absolute;
  padding: 2px;
  width: 90%;
  background-image: linear-gradient(to bottom, #E6E6E6, #E6E6E6);
  margin-top: 230px;
  z-index: -1;
  margin-left: 59px;
}

.scoreCategory{
  color: #ff6060;
}
.organizationImpactlabel{
  font-weight:500;
  //margin-left:100px;
  color:#4C5E7A;
}
.organizationImpactCount{
  background-color: #F6F6F6;
  color: #7D92AF;
  padding: 6px 4px;
  margin: 10px 60px;
  border-radius: 12px;
}

.organizaImpactSVGImage{
  display: flex;
  width: 100%;
  overflow-x: auto;
  float: left;
  white-space: nowrap;
}
.timelineFilter{
  height: 100px;
}
//@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//  .selectTrend{
//
//  }
//}


.trendCategories {
  margin-top: 46px;
  float: left;
  position: absolute;
}

.countZero {
  pointer-events: none;
}


.organizaImpactSVGImage::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.organizaImpactSVGImage::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}

.organizaImpactSVGImage::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
}
.leftArrow{
  width: 40px;
  position: absolute;
  top: 209px;
  left: -15px;
  transition: 0.1s ease;
  display: none;
  opacity: 0.5;
}
.rightArrow{
  width: 40px;
  position: absolute;
  top: 209px;
  right: 1px;
  transition: 0.1s ease;
  display: none;
  opacity: 0.5;
}
.scoreSVGContainer:hover .leftArrow {
  display: block;
}
.scoreSVGContainer:hover .rightArrow {
  display: block;
}
