.overallImpactText {
  color: #4C5E7A;
  padding: 10px 25px;
  background-color: #f8f8f8;
  width: auto;
  font-size: 17px;
  border-radius: 7px;
  margin-bottom: 0;
  font-weight: 600;
  float: left;
}

.trendCategories {
  width: 100%;
  float: left;
}

.OperatingEnvironmentComponent {
  padding: 15px 70px 15px 80px;
  height: 120px;
}

.selectTrend {
  position: relative;
  font-size: 14px;
  font-style: italic;
  color: #808080;
  float: left;
  margin-left: 25px;
  margin-top: 4px;
}

.trendCategory {
  color: #F3F3F3;
  margin-right: 218px;
  // font-family: Segoe UI, Semibold;
  font-size: 35px;
}

.categoryLabelContainer {
  position: absolute;
  text-align: center;
  width: 100%;
}

.trendCategoryDiv {
  top: 180px;
}

.SubCategoryDIv {
  top: 530px;
}

.categoryLabelName {
  color: #F3F3F3;
 // font-family: Segoe UI, Semibold;
  font-size: 27px;
}

.hexagonalDiv {
  width: 100%;
  min-height: 40%;
}

.trendCategoryDiv:nth-child(odd) .trendCategoryContante {
  //.trendCategoryDiv:nth-child(odd) {
  background-image: linear-gradient(to bottom, white, #F8F8F8);
}

.trendCategoryContante {
  /* padding-bottom: 12px; */
  padding-top: 40px;
  height: calc(100% - 345px);
}

.trendCategoryComponent {
  padding: 20px 80px 10px 80px;
  height: calc(100% - 240px);
}

.trendCategoryText {
  font-size: 13px;
  line-height: 1.2;
//   
  color: #4D5F7A;
}

.trendCategoryText:nth-child(1){
  font-weight: 800;
}

.trendCategoryText:nth-child(2){
  font-weight: 800;
}

.trendCategoryText:nth-child(3){
  font-weight:500;
}

.trendCategoryText:nth-child(4){
  font-family: SegoeUI-regular;
}

.trendCategoryText:nth-child(5){
  font-family: SegoeUI-regular;
}

.trendCategoryText:nth-child(6){
   
}

.trendCategoryBar {
  background-image: linear-gradient(to left, white, #BED8F1);
  background-color: white;
}

.trendCategoryProgress {
  position: absolute;
  left: 15px;
  bottom: 160px;
}

.trendCategoryProgress .yAxisLabel {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

.trendCategoryProgress .axisImage {
  transform: scale(0.8);
}

.trendCategoryProgress .progress {
  background-color: white;
  border-radius: 0rem;
  height: .5rem;
}

.highTextPrograssbar {
  position: absolute;
  transform: rotate(-90deg);
  left: -36px;
  font-size: 11px;
  top: -4px;
  color: #78A6EF;
}

.lowTextPrograssbar {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 11px;
  right: -28px;
  top: -3px;
  color: #4C5E7A;
}

.horizontalline {
  position: absolute;
  padding: 1px;
  width: 93%;
  background-image: linear-gradient(to bottom, #e2dede, #fbfbfb);
  margin-top: 115px;
  z-index: -1;
  display: none;
}

.timelineFilter {
  padding: 40px 0px;
  height: 120px;
}

.displayFlex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  .trendCategoryContante, .trendCategoryProgress, .SubCategoryDIv{
    display: none;
  }
}

.countZero {
  pointer-events: none;
}
