<div class="gContainer">

  <div class="OperatingEnvironmentComponent">
    <div class="overallImpact">
      <!--<h6 class="overallImpactText"><span style="color:#008AD1">Overall impact score </span> for {{'trend' | languageString:'general'}} categories</h6>-->
      <h6 class="overallImpactText"><span style="color:#008AD1">Overall impact score </span> for {{'trend' | languageString:'general'}} categories</h6>
    </div>
    <div class="trendCategories text-center">
      <span class="selectTrend">Select a {{'trend' | languageString:'general'}} category to view trends</span>
    </div>
  </div>

  <div class="categoryLabelContainer trendCategoryDiv">
    <h1 class="categoryLabelName" *ngIf="categoryLabelVisibility">{{'TREND' | languageString:'general'}}-CATEGORIES</h1>
  </div>

  <div class="trendCategoryComponent">

    <div class="trendCategoryProgress">
      <img class="axisImage" src="assets/Images/axisImage.svg" *ngIf="categoryLabelVisibility">
      <!--<label class="yAxisLabel">IMPACT</label>-->
      <!--<span class="highTextPrograssbar">HIGH</span>-->
      <!--<div class="progress">-->
      <!--<div class="progress-bar trendCategoryBar" role="progressbar" aria-valuenow="70"-->
      <!--aria-valuemin="0" aria-valuemax="100" style="width:70%">-->
      <!--</div>-->
      <!--</div>-->
      <!--<span class="lowTextPrograssbar">LOW</span>-->
    </div>

    <span class="horizontalline" *ngIf="categoryLabelVisibility"></span>

    <div class="gContainer displayFlex" [transition-group]="'flip-list'" *ngIf="operatingEnvironmentData.length">
      <div class="trendCategoryDiv" [ngStyle]="{'width.px': categoryCardWith - 10}"
           *ngFor="let data of operatingEnvironmentData | orderBy: 'totalImpactScore'" transition-group-item>
        <div class="hexagonalDiv" [ngClass]="data.totalImpactScore > 0 ? '' : 'countZero'">
          <app-hexagond3 [hexaData]="data" [svgScore]="data.totalImpactScore"
                         [svgScaleNum]="impactScoreScale(data.totalImpactScore)"
                         [svgScale]="'scale('+impactScoreScale(data.totalImpactScore)+')'"
                         [svgWidth]="(categoryCardWith + 40)" class="pointer"
                         (click)="navigationLink(data)"></app-hexagond3>
        </div>
        <div class="trendCategoryContante">
          <h6 class="trendCategoryText text-center"
              *ngFor="let listName of data.subCategorySummary | orderBy: 'totalImpactScore'">
            {{listName.category}}</h6>
        </div>
      </div>
    </div>

  </div>

  <div class="categoryLabelContainer SubCategoryDIv">
    <h1 class="categoryLabelName" *ngIf="categoryLabelVisibility">SUB-CATEGORIES</h1>
  </div>

  <div class="row timelineFilter">
    <div class="col-12 text-center">
      <app-timeline-impactscorfilter (applyFilterEvent)="yearFilterSelected($event)"
                                     [yearActive]="timelineFilter.expectedTimeId"></app-timeline-impactscorfilter>
    </div>
  </div>

</div>

