.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.filter-container {
  justify-content: flex-start;
  user-select: none;
  // border-bottom: 2px solid #DFDFDF;
}

.text-container {
  padding: 12px 8px;
  flex-direction: column;
  justify-content: center;
  color: #707070;
  // font-family: SegoeUI-Semibold;
  font-weight: 600;
  min-width: fit-content;
}

.tag-container {
  padding: 8px;
}

.extended-container {
  flex-direction: column;
  justify-content: center;
  padding-left: 0px;
}

.extended-container-text {
  // color: #53B8D1;
  font-weight: 600;
}

.dropdown-holder {
  position: absolute;
  z-index: 999;
  margin-left: -201px;
  margin-top: -2px;
  // top : 33px;
  // right: 40px;
  // left: -202px;
  // top: 24px
}

.tag-padding {
  padding: 8px 2px;
  //max-width: 130px;
}

.extended-positioner {
  position: relative;
  right: 16px;
  top: 8px;
}
