<div class="flex filter-container" id="filter" [ngStyle]="{'border-bottom': hideText ? '' : '2px solid #DFDFDF'}">
  <div *ngIf="!hideText" class="flex text-container">Selected Filters :</div>
  <div *ngIf="displayTags && displayTags.length > 0" class="col-12 row m-0">
    <div class="col-9 row p-0 m-0">
      <div class="tag-padding" *ngFor="let tag of displayTags; let index = index">
        <sdzl-widget-filter-tag-card [tag]="tag" [textColor]="textColor ? textColor : 'black'"
                                     [bgColor]="bgColor ? bgColor : '#F6F6F6'" [borderStyle]="borderStyle"
                                     (removedTag)="removeTagFromDisplayTags($event)"></sdzl-widget-filter-tag-card>
      </div>
    </div>
    <div class="col-2 pr-0 extended-positioner">
      <div class="flex extended-container" *ngIf="extendedTags && extendedTags.length > 0">
        <div (click)="toggleDropdown()" [ngStyle]="{'color': hideText ? '#3972D6' : '#53B8D1'}"
             class="pointer extended-container-text"> +{{extendedTags.length}} More
          <div class="dropdown-holder" *ngIf="showExtendedTagDropdown">
            <sdzl-widget-extended-tags-dropdown [extendedData]="extendedTags"
                                                (removedTag)="removeTagFromExtendedTags($event)"></sdzl-widget-extended-tags-dropdown>
          </div>
        </div>
        <!-- <div [ngStyle]="{'top.px': top,'left.px': left}" class="dropdown-holder" *ngIf="showExtendedTagDropdown">
            <sdzl-widget-extended-tags-dropdown [extendedData]="extendedTags" (removedTag)="removeTagFromExtendedTags($event)"></sdzl-widget-extended-tags-dropdown>
        </div> -->
      </div>
    </div>
  </div>
</div>
