.hexagonalLine {
  position: relative;
  top: 73px;
  left: 129px;
  display: grid;
}

.hexagonal {
  position: relative;
}

.hexagonalSVGContainer {
  width: 100%;
  min-height: 60%;
}

.hexagonalSVGContainer .hexagonalSVG {
  overflow: visible;
  transition: transform 1s;
}

.connectingLine {
  stroke: #1d568c;
  stroke-width: 2px;
}

.titleText{
  text-transform: uppercase;
  font-size: 20px;
  text-anchor: middle;
  fill: #4C5E7A;
}

.titleText2{
 // font-weight: 800;
  text-transform: uppercase;
  font-size: 13px;
  text-anchor: middle;
  fill: #4C5E7A;
}

