<!--
<div class="hexagonal">
<svg class="hexagonalSVG" (click)="navigationLink()" >
<defs><style>.a,.b,.c{fill:#b9d5f1;}.a{opacity:0.3;}.b{opacity:0.5;}.c{opacity:0.7;}.d{fill:#fff;stroke:#d9e8f4;stroke-miterlimit:10;stroke-width:1.5px;}.e{filter:url(#a);}</style><filter id="a" x="27.226" y="24.979" width="205.19" height="231.673" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs>
<g transform="translate(0 0)">
<path class="a" d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z" transform="translate(79.33 276.149) rotate(-111)"/>
<path class="b" d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z" transform="translate(51.51 262.477) rotate(-99)"/>
<path class="c" d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z" transform="translate(14.63 230.381) rotate(-80)"/>
<g class="e" transform="matrix(1, 0, 0, 1, 0, 0)">
<path class="d" d="M155.081,0H56.915a7.833,7.833,0,0,0-6.783,3.915L1.05,88.93a7.828,7.828,0,0,0,0,7.831l49.082,85.014a7.833,7.833,0,0,0,6.783,3.915h98.167a7.833,7.833,0,0,0,6.782-3.915l49.083-85.014a7.834,7.834,0,0,0,0-7.831L161.863,3.915A7.833,7.833,0,0,0,155.081,0Z" transform="translate(36.98 243.81) rotate(-90)"/>
</g>
</g>

</svg>
</div> -->


<div class="hexagonalSVGContainer" *ngIf="hexaUbdetails">

  <svg class="hexagonalSVG" [attr.viewBox]="svgViewBox" [attr.width]="svgWidth" height="300" [attr.transform]="svgScale" [ngStyle]="{'transform': svgScale}">
    <defs>
      <style>.a, .b, .c {
        fill: #b9d5f1;
      }

      .a {
        opacity: 0.3;
      }

      .b {
        opacity: 0.5;
      }

      .c {
        opacity: 0.7;
      }

      .d {
        fill: #fff;
        stroke: #d9e8f4;
        stroke-miterlimit: 10;
        stroke-width: 1.5px;
      }

      .e {
        filter: url(#a);
      }</style>
      <filter filterUnits="userSpaceOnUse" height="231.673" id="a" width="205.19" x="27.226" y="24.979">
        <feOffset dy="3" input="SourceAlpha"></feOffset>
        <feGaussianBlur result="b" stdDeviation="3"></feGaussianBlur>
        <feFlood flood-opacity="0.161"></feFlood>
        <feComposite in2="b" operator="in"></feComposite>
        <feComposite in="SourceGraphic"></feComposite>
      </filter>
    </defs>
    <g transform="translate(0 0)">
      <path class="a"
            d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z"
            transform="translate(79.33 276.149) rotate(-111)"></path>
      <path class="b"
            d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z"
            transform="translate(51.51 262.477) rotate(-99)"></path>
      <path class="c"
            d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z"
            transform="translate(14.63 230.381) rotate(-80)"></path>
      <g class="e" transform="matrix(1, 0, 0, 1, 0, 0)">
        <path class="d"
              d="M155.081,0H56.915a7.833,7.833,0,0,0-6.783,3.915L1.05,88.93a7.828,7.828,0,0,0,0,7.831l49.082,85.014a7.833,7.833,0,0,0,6.783,3.915h98.167a7.833,7.833,0,0,0,6.782-3.915l49.083-85.014a7.834,7.834,0,0,0,0-7.831L161.863,3.915A7.833,7.833,0,0,0,155.081,0Z"
              transform="translate(36.98 243.81) rotate(-90)"></path>
      </g>
    </g>
    <text class="fontFamily titleText" font-weight="500" y="140" x="130">
      {{trednName}}
    </text>
    <text class="fontFamily" y="-70" x="160" font-size="28"  fill="#008AD1" font-weight="500"
          text-anchor="middle">{{svgScore | number :'1.1-1'}}
    </text>
    <line class="connectingLine" x1="130" x2="130" y1="30" y2="-60"></line>
    <line class="connectingLine" x1="130" x2="200" y1="-60" y2="-60"></line>
  </svg>
</div>


<div *ngIf="hexaOperatingEnvironmentModule" style="height: 100%;left: -50px;position: relative;">

  <svg class="hexagonalSVG" viewBox="12 24 230 250" width="100%" height="100%">
    <defs>
      <style>.a, .b, .c {
        fill: #b9d5f1;
      }

      .a {
        opacity: 0.3;
      }

      .b {
        opacity: 0.5;
      }

      .c {
        opacity: 0.7;
      }

      .d {
        fill: #fff;
        stroke: #d9e8f4;
        stroke-miterlimit: 10;
        stroke-width: 1.5px;
      }

      .e {
        filter: url(#a);
      }</style>
      <filter filterUnits="userSpaceOnUse" height="231.673" id="a" width="205.19" x="27.226" y="24.979">
        <feOffset dy="3" input="SourceAlpha"></feOffset>
        <feGaussianBlur result="b" stdDeviation="3"></feGaussianBlur>
        <feFlood flood-opacity="0.161"></feFlood>
        <feComposite in2="b" operator="in"></feComposite>
        <feComposite in="SourceGraphic"></feComposite>
      </filter>
    </defs>
    <g transform="translate(0 0)">
      <path class="a"
            d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z"
            transform="translate(79.33 276.149) rotate(-111)"></path>
      <path class="b"
            d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z"
            transform="translate(51.51 262.477) rotate(-99)"></path>
      <path class="c"
            d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z"
            transform="translate(14.63 230.381) rotate(-80)"></path>
      <g class="e" transform="matrix(1, 0, 0, 1, 0, 0)">
        <path class="d"
              d="M155.081,0H56.915a7.833,7.833,0,0,0-6.783,3.915L1.05,88.93a7.828,7.828,0,0,0,0,7.831l49.082,85.014a7.833,7.833,0,0,0,6.783,3.915h98.167a7.833,7.833,0,0,0,6.782-3.915l49.083-85.014a7.834,7.834,0,0,0,0-7.831L161.863,3.915A7.833,7.833,0,0,0,155.081,0Z"
              transform="translate(36.98 243.81) rotate(-90)"></path>
      </g>
    </g>
    <text class="fontFamily titleText2" y="128" x="128" font-weight="600">
      {{trednName}}
    </text>
    <text class="fontFamily" y="150" x="95" font-size="10" font-weight="500" fill="#78A6EF">Overall Impact</text>
    <text class="fontFamily" y="162" x="102" font-size="10" font-weight="500" fill="#78A6EF">Score {{trednCount | number :'1.1-1'}}</text>
    <text class="fontFamily" y="180" x="105" font-size="10"  font-weight="500" fill="#4C5E7A">{{impactCount }} trends</text>
  </svg>
</div>






