
<div class="hexagonalDetails">
<svg class="hexagonalDetailsSVG"   viewBox="0 0 250 250" width="500" height="500"  >
<defs><style>.a,.b,.c{fill:#b9d5f1;}.a{opacity:0.3;}.b{opacity:0.5;}.c{opacity:0.7;}.d{fill:#fff;stroke:#5484D1;stroke-miterlimit:10;stroke-width:2.3px;}.e{filter:url(#a);}</style><filter id="a" x="27.226" y="24.979" width="205.19" height="231.673" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs>
<g transform="translate(0 0)">

<g class="e" transform="matrix(1, 0, 0, 1, 0, 0)">
<path class="d" d="M155.081,0H56.915a7.833,7.833,0,0,0-6.783,3.915L1.05,88.93a7.828,7.828,0,0,0,0,7.831l49.082,85.014a7.833,7.833,0,0,0,6.783,3.915h98.167a7.833,7.833,0,0,0,6.782-3.915l49.083-85.014a7.834,7.834,0,0,0,0-7.831L161.863,3.915A7.833,7.833,0,0,0,155.081,0Z" transform="translate(36.98 243.81) rotate(-90)"/>
<text  fill="#5484D1"  font-weight="500" text-anchor="middle"  font-size="7" x="125" y="75">{{hexDetails.trendName}}</text>
<text  fill="#808080"       font-size="7" x="60" y="95" class="fontFamily">{{trendNameone}}</text>
<text  fill="#808080"       font-size="7" x="60" y="105" class="fontFamily"> {{trendNametwo}}</text>
<text  fill="#808080"       font-size="7" x="60" y="115" class="fontFamily">{{trendNamethree}} </text>
<text fill="#F07878"  font-weight="500" font-size="12" x="65" y="150" class="fontFamily"> {{temp.threatsCount}}</text>
<text fill="#808080"  font-weight="500" font-size="10" x="75" y="150" class="fontFamily"> Threats</text>
<text fill="#78F088"  font-weight="500" font-size="12" x="120" y="150" class="fontFamily"> {{temp.opportunitiesCount}}</text>
<text  fill="#808080"  font-weight="500" font-size="10" x="130" y="150" class="fontFamily">  Opportunities</text>
  <circle cx="92" cy="177.7" r="4" r="4" style="fill: #5484D1;"></circle>
  <text class="fontFamily" fill="#4C5E7A"  font-weight="500" font-size="6" x="90" y="180" style="fill: #FFF;"> {{temp.strategiesCount}}</text>
<text fill="#616161"  font-weight="500" font-size="6" x="100" y="180" class="fontFamily"> IMPACTED STRATEGIES</text>
  <circle cx="92.6" cy="187.7" r="4" style="fill: #5484D1;"></circle>
<text class="fontFamily" fill="#4C5E7A"  font-weight="500" font-size="6" x="91" y="190" style="fill: #FFF;"> {{temp.capabilitiesCount}}</text>
<text  fill="#616161"  font-weight="500" font-size="6" x="100" y="190" class="fontFamily"> IMPACTED   {{'CAPABILITIES' | languageString:'general'}}</text>
<text  fill="#5484D1"       font-size="6" x="110" y="220" class="fontFamily" cursor="pointer" (click)="onClickNavigation(temp.trendId)"> Know more </text>
<text  fill="#5484D1"  font-weight="500" font-size="5" x="143" y="220" class="fontFamily" cursor="pointer" (click)="onClickNavigation(temp.trendId)"> &gt;</text>
<line x1="45" x2="220" y1="130" y2="130" style="stroke: #b8b8b8;;"></line>
</g>
</g>

</svg>
</div>


