<div class="timeLineComponent">
  <div class="timeLineViewdiv">
    <span class="timeLineView">View <br> impact for: </span>
  </div>
  <div (click)="applyFilterEventClicked(null)">
    <label class="timeLineLabel">
      <label class="filterCircle" ngClass="{{yearActive === null ? 'active': ''}}"></label>
    </label>
    <span class="allYearTimeLine">All Years</span>
  </div>
  <div class="" *ngIf="expectedTimes.length">
    <label class="timeLineLabelSecond">
      <label class="timeLineLabelSecondGroup" *ngFor="let time of expectedTimes"
             (click)="applyFilterEventClicked(time.id)">
        <label class="filterCircle" ngClass="{{yearActive === time.id ? 'active': ''}}"></label>
        <label class="allYearTimeLine2">{{time.yearRange}}</label>
      </label>
    </label>
  </div>
</div>
