.timeLineLabel {
  height: 3px;
  width: 167px;
  background: linear-gradient(90deg, white, #89847b 57%, white);
}

.timelineCircleactive {
  position: relative;
  top: -13px;
  right: 0px;
  background-color: #F86CC6;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 9px;
  cursor: pointer;
  border: 4px solid #ffffff;
}

.filterCircle {
  position: relative;
  top: -13px;
  right: 0;
  background-color: #F86CC6;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #ffffff;
  width: 30px;
  height: 30px;
  transition: transform .3s, border-color .4s, background-color .4s;
}

.filterCircle.active {
  border-color: #d7e7f7;
  background-color: #7194e2;
}

.filterCircle:hover {
  transform: scale(1.2);
  //border-color: #f3f7fb;
  border-color: #eff1f5;
}

.filterCircle:active {
  transform: scale(0.7);
  border-color: #eff1f5;
}

.timeLineLabelSecond {
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, white, #89847b 57%, white);
  margin: 0 5px;
}

.timeLineLabelSecondGroup {
   
  margin: 0 25px;
}

.timelineCircleNone {
  position: relative;
  top: -13px;
  right: 0px;
  background-color: #8F94AE;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 9px;
  cursor: pointer;
  border: 4px solid #ffffff;
  margin: 0px 38px;
}

.timeLineComponent {
  display: inline-flex;
}

.timeLineView {
  color: #707070;
  font-size: 14px;
  position: relative;
  top: -18px;
  font-weight:500;
}

.timeLineViewdiv {
  padding: 0px 35px;
  text-align: left;
}

.allYearTimeLine {
  position: relative;
  font-size: 13px;
  right: 50%;
  top: 5px;
  color: #707070;
}

.allYearTimeLine2 {
  position: relative;
  font-size: 13px;
  left: -40px;
  top: 5px;
  color: #707070;
}
