.badge-circle {
    width: 30px;
    height: 30px;
    // background-color: red;
    border-radius: 50%;
}

.double-text {
  font-size: 12px;
  /* position: relative; */
  color: #fff;
  /* top: 5px; */
  /* left: 8px; */
  @extend .flex-vertical-center;
  text-align: center;
  font-weight: 600;
}

.single-text {
    //font-size: 12px;
    //position: relative;
    //color: white;
    //top: 5px;
    //left: 11px;
  font-size: 12px;
  /* position: relative; */
  color: #fff;
  /* top: 5px; */
  /* left: 8px; */
  @extend .flex-vertical-center;
  text-align: center;
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-next {
  justify-content: flex-start;
}

.flex-vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
