<div class="flex flex-next">
  <div id="user-badge"
       [ngStyle]="{'background-color': batchContent.bgColor ? batchContent.bgColor : 'red', 'width': diameter ? diameter : '30px', 'height': diameter ? diameter : '30px'}"
       class="badge-circle">
    <div *ngIf="batchContent && batchContent.name"
         [ngStyle]="{'color': batchContent.textColor ? batchContent.textColor : '', 'font-size' : textSize ? textSize : '12px'}"
         [ngClass]="{'double-text' : !singleText,'single-text' : singleText}">{{displayText}}
    </div>
  </div>
  <div *ngIf="showName">
    <div class="flex-vertical-center pl-2"
      [ngStyle]="{'color': showNameTextColor ? showNameTextColor : '', 'font-size': showNameTextSize ? showNameTextSize : ''}"
      *ngIf="batchContent && batchContent.name">{{batchContent.name}}</div>
  </div>
</div>
