<div>
  <div class="flex left-align-flex">
    <div class="slidecontainer">
      <input (click)="getCurrentValue($event)" type="range" min="{{minValue}}" max="{{maxValue}}"
        value="{{currentValue}}" class="slider" id="myRange">
    </div>
    <div class="slider-text-container">
      <div>{{currentValue}}/{{maxValue}}</div>
    </div>
  </div>
</div>
