.flex {
  display: flex;
}

.left-align-flex {
  justify-content: flex-start;
}

.slidecontainer {
  width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .slidecontainer {
    height: 50px;
  }
}

//.slider {
//  -webkit-appearance: none;
//  width: 100%;
//  //height: 8px;
//  //border-radius: 5px;
//  //background: #E6E6E6;
//  height : 6px::-webkit-slider-runnable-track;
//  outline: none;
//  opacity: 0.7;
//  -webkit-transition: .2s;
//  transition: opacity .2s;
//}
//
//.slider::-webkit-slider-runnable-track {
//  background: #E6E6E6;
//  //height: 6px;
//  //border-radius: 5px;
//  outline: none;
//  user-select: none;
//}
//
////.slider {
////  -webkit-appearance: none;
////  width: 100%;
////  height: 8px;
////  border-radius: 5px;
////  background: #E6E6E6;
////  outline: none;
////  opacity: 0.7;
////  -webkit-transition: .2s;
////  transition: opacity .2s;
////}
//
//.slider:hover {
//  opacity: 1;
//}
//
//.slider::-webkit-slider-thumb {
//  -webkit-appearance: none;
//  appearance: none;
//  width: 20px;
//  height: 20px;
//  border-radius: 50%;
//  background: white;
//  border: 1px solid #3972D6;
//  cursor: pointer;
//}
//
////.slider::-ms-thumb {
////  width: 20px;
////  height: 20px;
////  border-radius: 50%;
////  background: white;
////  border: 1px solid #3972D6;
////  cursor: pointer;
////}
//
//.slider::-ms-track {
//  width: 100%;
//  height: 8px;
//
//  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
//  background: transparent;
//
//  /*leave room for the larger thumb to overflow with a transparent border */
//  border-color: transparent;
//  border-width: 6px 0;
//
//  /*remove default tick marks*/
//  color: transparent;
//}
//
//.slider::-ms-fill-lower {
//  background: #E6E6E6;
//  border-radius: 5px;
//}
//
//.slider::-ms-fill-upper {
//  background: #E6E6E6;
//  border-radius: 5px;
//}
//.slider::-ms-thumb {
//  border: none;
//  height: 20px;
//  width: 20px;
//  border-radius: 50%;
//  background: #3972D6;
//}
//
//
//.slider::-moz-range-thumb {
//  width: 20px;
//  height: 20px;
//  border-radius: 50%;
//  background: white;
//  border: 1px solid #3972D6;
//  cursor: pointer;
//}

//Webkit styling like Chrome, Opera, Safari

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #E6E6E6;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  //border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #3972D6;
  margin-top: -4px;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E6E6E6;
}

//Internet Explorer Support
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3972D6;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #E6E6E6;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  //border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  border: 1px solid #3972D6;
  //cursor: hand;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3972D6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E6E6E6;
}
input[type=range]::-ms-tooltip {
  display: none;
}

//Firefox Styling

input[type=range]{
  /* fix for FF unable to apply focus style bug  */
  //border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 100%;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #E6E6E6;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  //border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  border: 1px solid #3972D6;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #E6E6E6;
}

.slider-text-container {
  font-weight: 600;
  //margin: 1px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 8px;
  position: relative;

}
