.accordion-title {
  min-width: 240px;
  //background: #f3f3f3;
  padding: 10px 30px 4px 36px;
  font-weight: 600;
  border-radius: 4px 4px 4px 4px;
  /* color: #46B0D5; */
  height: 45px;
  @extend .flex-start;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.accordion-title-top-border {
  border-radius: 4px 4px 0px 0px;
}

.pointer {
  cursor: pointer;
}

.checkbox-holder {
  margin-top: 2px;
  //margin-left: 10px;
}

.drop-down {
  width: 100%;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#border-style {
  border-top: 2px solid #53b8d1;
}

.arrow {
  position: absolute;
  font-size: 40px;
  color: #707070;
}

.tick-for-selection {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: 600;
  color: #E6E6E6;
}
