<div class="col-12 p-0 m-0" style="user-select: none;">
  <span (click)="showData()" *ngIf="enableTick" [ngStyle]="{'color': toggleData ? '#46B0D5' : '#707070'}"
        class="arrow pointer"
        [@arrowTrigger]="toggleData ? 'show-leftMode' : 'hide-leftMode' ">&#8249;</span>
  <span (click)="showData()" *ngIf="!enableTick" [ngStyle]="{'color': toggleData ? '#46B0D5' : '#707070'}"
        class="arrow pointer"
        [@arrowTrigger]="toggleData ? 'show-rightMode' : 'hide-rightMode'">&#8249;</span>
  <div (click)="showData()" class="tick-for-selection pointer" *ngIf="enableTick"
       [ngStyle]="{'color' : isAnyCheckboxesSelected() ? '#3972D6' : '#E6E6E6'}"><span>&#10003;</span></div>
  <div [ngStyle]="{'color': toggleData ? '#46B0D5' : '#707070','background-color': bgColor ? bgColor : '#f3f3f3'}"
       [ngClass]="{'accordion-title-top-border' : toggleData}"
       class="accordion-title pointer " (click)="showData()">
    {{accordionCheckboxes.name}}</div>

  <div [ngStyle]="{'background-color' : enableTick ? '#FFFFFF' : '#f8f8f8'}" class="drop-down" id="{{id}}">
    <div id="border-style">
      <div class="checkbox-holder">
        <sdzl-widget-multiselect-checkbox [mirrorMode]="enableTick" [checkbox]="accordionCheckboxes"
                                          [checkboxColor]="'#76C6D9'" [spacedNext]="!enableTick"
                                          (selectedCheckboxes)=selectedCheckboxes($event)
                                          (currentSelectedCheckbox)="currentSelectedCheckbox($event)">
        </sdzl-widget-multiselect-checkbox>
      </div>
    </div>
  </div>
</div>
