<div class="gContainer">
  <div class="row subCategoriesComponent">
    <span class="horizontalline"> </span>
    <div class="col-lg-4 hexagonalComponent" [@fadeInOut]>
      <app-hexagond3 [hexaData]="subCategoryDetailsData"></app-hexagond3>
    </div>

    <div class="col-lg-7 subCategoriesInformation">
      <div class="subCategoriesTextDiv">
        <p class="subCategoriesText" title="subCategory.categoryDescription">
          {{subCategoryDetailsData.categoryDescription}}
        </p>

      </div>
      <div class="subCategoriesImpactScore">
        <table class="table">
          <thead>
          <tr>
            <th><label>{{'SUB-CATEGORIES' | languageString:'general'}}</label></th>
            <th class="text-center"><label>{{'IMPACT' | languageString:'general'}} SCORE</label></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of subCategoryDetailsData.subCategorySummary | orderBy: 'totalImpactScore'" (click)="linkNavigation(data)"
              class="subCategoryTableRow" [ngClass]="data.totalImpactScore > 0 ? '' : 'trendZero'">
            <td><h5 class="subcatrgorieslabel">{{data.category}}</h5></td>
            <td>
              <div class="row">
                <div class="col-9">
                  <div class="progress subcategoriesprogress">
                    <div class="progress-bar subcategoriesBar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100"
                         [ngStyle]="{'width': data.totalImpactScore  / subCategoryDetailsData.totalImpactScore * 100 + '%'}">
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <label class="ImpactScore">{{data.totalImpactScore | number :'1.1-1'}}</label>
                </div>
              </div>
            </td>
            <td class="text-right"><label>{{data.trendCount}} trends</label> <img src="./assets/Images/inetrfaceRightSide.svg"
                                                               alt="interface" style="padding-left:5px;"/></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-1" style="position: relative;bottom: 45px;left: 26px;">
      <img class="closeCategory" [routerLink]="['/operative']" style="width:30%"
           src="./assets/Images/closeCircleBlueImg.svg"/><br>
      <span class="clsoeText"> CLOSE</span>
    </div>
  </div>


  <div class="row timelineFilter">
    <div class="col-12 text-center">

      <app-timeline-impactscorfilter
        [yearActive]="filters.expectedTimeId"></app-timeline-impactscorfilter>

    </div>
  </div>
</div>
