.subCategoriesText {
  color: #7B7676;
  padding-right: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px;
  font-style: italic;
  font-size: 17px;
}

.table thead th {
  border-bottom: hidden;
  border-top: hidden;
}

.subcatrgorieslabel {
  color: #808080;
  font-weight:500;
  font-size: 18px;
}

.subcategoriesprogress {
  height: 0.2rem;
  margin-top: 12px;
}

.ImpactScore {
  font-size: 14px;
  color: #78A6EF;
}

.subCategoriesComponent {
  padding: 7%;
  height: calc(100% - 100px);
}

.clsoeText {
  font-size: 12px;
  color: #303030;
}

.horizontalline {
  display: none;
  position: absolute;
  padding: 1px;
  width: 90%;
  background-image: linear-gradient(to bottom, #E6E6E6, #E6E6E6);
  margin-top: 183px;
}

.subCategoriesImpactScore table {
  margin-bottom: 0;
}

.example {
  opacity: 0.5;
}

.subCategoryTableRow {
  cursor: pointer;
}

.timelineFilter {
  padding-bottom: 50px;
  opacity: .5;
  pointer-events: none;
  height: 100px;
}

.subCategoriesInformation {
  height: 100%;
}

.subCategoriesTextDiv {
  height: 200px;
}

.subCategoriesImpactScore {
  max-height: calc(100% - 200px);
  width: 100%;
  overflow: auto;
  padding-right: 25px;
}

.subCategoriesImpactScore table thead tr {
  color: #78A6EF;
  font-size: 15px;
}

.subCategoriesImpactScore .table td, .subCategoriesImpactScore .table th {
  padding: 0.25rem;
  border-top: none;
}

.subCategoriesImpactScore::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.subCategoriesImpactScore::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.subCategoriesImpactScore::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
}

.trendZero {
  opacity: .5;
  pointer-events: none;
}
