<div class="threadOpportunityComponent">
  <div class="overallImpact">
    <h6 class="overallImpactText"><span style="color:#008AD1">Overall impact score </span> for {{'threat' | languageString:'general'}} and {{'opportunity' | languageString:'general'}}
      categories</h6>
  </div>
  <div class="trendCategories">
    <span class="selectTrend">Select a category to view {{'threats' | languageString:'general'}} and {{'opportunities' | languageString:'general'}} </span>
  </div>
</div>
<div class="scoreSVGContainer">
  <div class="col-12">
    <div class="categoryInformation">
      <h6 class="categoryText"> {{'THREAT' | languageString:'general'}} CATEGORIES </h6> <h6 class="categorylabel"><span
      class="scoreCategory">{{threatsCountLabel}} </span>  Threats</h6>
    </div>
    <div id="container" >
      <div id="grid" class="threadOpportunitySVGImage" [transition-group]="'flip-list'"
           [ngStyle]="{'grid-template-columns': 'repeat('+ renderData.threatCategorySummary.length +', 1fr)'}"
           *ngIf="(renderData.threatCategorySummary && renderData.threatCategorySummary.length)">
        <span class="horizontalline"></span>
        <div
          *ngFor="let data of renderData.threatCategorySummary | orderBy: 'impactScore'"
          class="SVGComponentClass"
          transition-group-item>
          <div [ngClass]="data.impactScore > 0 ? '' : 'countZero'" class="pointerClass">
          <app-thredopport-svg [threadSVG]="'threat'" [svgScale]="'scale(' + data.scale + ')'" [ladingPage]="true"
                               [categoryCount]="data.impactScore" [categoryName]="data.categoryName"
                               (click)="navigationLink(data)" ></app-thredopport-svg >
        </div></div>
        <div>
          <!--<a id="slider-buttons-left" *ngIf="(threatCarousalStart > 0)" (click)="threatCarousalStart = threatCarousalStart - carousaStep">&#10094;</a>-->
          <!--<a id="slider-buttons-right" *ngIf="((threatCarousalStart + carousaStep) < renderData.threatCategorySummary.length)" (click)="threatCarousalStart = threatCarousalStart + carousaStep">&#10095;</a>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="categoryInformation">
      <h6 class="categoryText">{{'OPPORTUNITY' | languageString:'general'}} CATEGORIES </h6> <h6 class="categorylabel"><span class="scoreCategory"
                                                                                            style="color:#4FD561">{{opportunityCountLabel}} </span>
       Opportunities</h6>
    </div>
    <div id="container">
      <div id="grid" class="threadOpportunitySVGImage" [transition-group]="'flip-list'"
           [ngStyle]="{'grid-template-columns': 'repeat('+ renderData.opportunityCategorySummary.length +', 1fr)'}"
           *ngIf="(renderData.opportunityCategorySummary && renderData.opportunityCategorySummary.length)">
        <span class="horizontalline"></span>
        <div *ngFor="let data of renderData.opportunityCategorySummary | orderBy: 'impactScore'"
             class="SVGComponentClass" transition-group-item>
          <div [ngClass]="data.impactScore > 0 ? '' : 'countZero'" class="pointerClass">
          <app-thredopport-svg [threadSVG]="'opportunity'" [svgScale]="'scale(' + data.scale + ')'" [ladingPage]="true"
                               [categoryCount]="data.impactScore" [categoryName]="data.categoryName"
                               (click)="navigationLink(data)"></app-thredopport-svg>
          </div>
        </div>
        <div>
          <!--<a id="slider-buttons-leftSecond" (click)="moveLeftSecond(OpportunityJson)">&#10094;</a>-->
          <!--<a id="slider-buttons-rightSecond" (click)="moveRightSecond(OpportunityJson)">&#10095;</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row timelineFilter">
  <div class="col-12 text-center">
    <app-timeline-impactscorfilter [yearActive]="timeLineImapctYearID"
                                   (applyFilterEvent)="yearFilterSelected($event)"></app-timeline-impactscorfilter>
  </div>
</div>
