.threadOpportunityComponent {
  padding: 15px 70px 15px 80px;
  height: 80px;
  width: 100%;
  float: left;
}

.overallImpactText {
  color: #4C5E7A;
  padding: 10px 25px;
  background-color: #f8f8f8;
  width: auto;
  font-size: 17px;
  border-radius: 7px;
  margin-bottom: 0;
  font-weight: 600;
  float: left;
}

.trendCategories {
  width: 100%;
  float: left;
}

.selectTrend {
  position: relative;
  font-size: 14px;
  font-style: italic;
  color: #808080;
  float: left;
  margin-left: 25px;
  margin-top: 4px;
}

.trendCategory {
  color: #F3F3F3;
}

.timelineFilter {
  padding: 40px 0px;
  height: 120px;
  width: 100%;
  float: left;
}

.scoreSVGContainer {
  padding: 35px 80px 10px 80px;
  height: calc(100% - 200px);
  width: 100%;
  float: left;
}

.categoryInformation {
  display: flex;
  //padding: 24px 0px;
  //margin-left: -12px;
  margin-left: 10px;
}

.categoryText {
  color: #4C5E7A;
  font-weight:500;
}

.categorylabel {
  background-color: #F6F6F6;
  font-size: 13px;
  margin-left: 15px;
  padding: 5px 14px;
  border-radius: 11px;
  color: #4C5E7A;
  margin-top: -2px;
  font-style: italic;
}

.horizontalline {
  position: absolute;
  padding: 2px;
  width: calc(100% - 5%);
  background-image: linear-gradient(to right, #efefef, #ffffff);
  margin-top: 120px;
  z-index: -1;
  margin-left: 5%;
}

.scoreCategory {
  color: #ff6060;
  font-family: seguiSemiBoldItalian;
}

.SVGComponent {
  margin-left: 45px;
}

#slider-buttons-left {
  position: absolute;
  z-index: 1000;
  top: 110px;
  float: left;
  cursor: pointer;
  font-size: 250%;
  color: #778899;
  left: -1px;
}

#slider-buttons-right {
  position: absolute;
  top: 110px;
  z-index: 1000;
  float: right;
  cursor: pointer;
  font-size: 250%;
  color: #778899;
  right: 0px;
}

#grid {
  display: flex;
  padding-top: 34px;
  //height: 150;
  //grid-template-columns: repeat(6, 1fr);
  //grid-template-rows: 250px;
  //grid-column-gap: 20px;
}

.threadOpportunitySVGImage {
  height: 300px;
  display: flex;
 // flex-direction: column;
  // justify-content: center;
  //align-items: center;
}

.SVGComponentClass {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

#container {
  position: relative;
  overflow: hidden;
}

#slider-buttons-lefto {
  position: absolute;
  z-index: 1000;
  top: 110px;
  float: left;
  cursor: pointer;
  font-size: 250%;
  color: #778899;
  left: -1px;
}

#slider-buttons-righto {
  position: absolute;
  top: 110px;
  z-index: 1000;
  float: right;
  cursor: pointer;
  font-size: 250%;
  color: #778899;
  right: 0px;
}

#grido {
  display: flex;
  padding-top: 34px;
  //height: 150;
  //grid-template-columns: repeat(5, 1fr);
  //grid-template-rows: 300px;
  //grid-column-gap: 20px;
}

.threadOpportunitySVGImageo {
  height: 300px;
  display: flex;
  //flex-direction: column;
  // justify-content: center;
  //align-items: center;
}

#SVGComponentClasso {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

#containero {
  position: relative;
  overflow: hidden;
}

#SVGComponentClassSecond {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  .scoreSVGContainer{
    height: calc(100%);
  }
}

.countZero {
  pointer-events: none;
}


.pointerClass{
  cursor: pointer;
}

