<div style="position: relative">
  <div class="dropdown-container">
    <div class="dropdown-rect">
      <div *ngIf="filterTags && filterTags.length > 0">
        <sdzl-widget-filter-tags [filterTags]="filterTags" [hideText]="true" (deletedTag)="deletedTag($event)">
        </sdzl-widget-filter-tags>
      </div>
      <div (click)="showData()" *ngIf="placeholder && (!filterTags || (filterTags && filterTags.length == 0))"
        class="placeholder-text">
        {{placeholder}}
      </div>

      <div (click)="showData()" [@arrowTrigger]="toggleData ? 'show' : 'hide' " class="arrow-container arrow-up"
        [ngStyle]="{'top' : filterTags && filterTags.length > 0 ? '-24px' : placeholder ? '-20px' : '12px' }"></div>
    </div>
  </div>

  <div *ngIf="accordionCheckboxesArray && accordionCheckboxesArray.length > 0" class="drop-down" id="{{id}}">
    <div>
      <div *ngFor="let accordionCheckboxes of accordionCheckboxesArray" class="accordion">
        <sdzl-widget-accordion-with-checkbox [enableTick]="true"
          [bgColor]="'#E0F0FA'" [accordionCheckboxes]="accordionCheckboxes"
          (currentSelectedAccordionCheckbox)="selectedAccordionCheckboxes($event)">
        </sdzl-widget-accordion-with-checkbox>
      </div>
    </div>
  </div>

  <div *ngIf="!accordionCheckboxesArray || (accordionCheckboxesArray && accordionCheckboxesArray.length == 0)"
    class="drop-down no-data-available" id="{{id}}">
    No data available to display
  </div>
</div>
