.dropdown-rect {
  border: 1px solid #e6e6e6;
  min-height: 40px;
  border-radius: 4px;
}

.arrow-container {
  position: relative;
  //   top: -24px;
  right: 10px;
  float: right;
  cursor: pointer;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
}

.drop-down {
  width: 100%;
  padding: 0;
  background: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: absolute;
  // border: 1px solid #E6E6E6;
  border-radius: 5px;
  z-index: 888;
}

#border-style {
  border-top: 2px solid #53b8d1;
}

.placeholder-text {
  // font-style: italic;
  // font-size: 12px;
  padding: 8px;
  color: #999;
  cursor: pointer;
  user-select: none;
}

.accordion {
  padding: 2px;
}

.no-data-available {
  text-align: center;
  font-style: italic;
  // padding: 16px 0px;
}
