/* You can add global styles to this file, and also import other style files */

/* Custom Fonts*/
// @font-face {
//     font-family: SegoeUI-bold;
//     src: url('assets/fonts/OpenSans-Bold.ttf')format("opentype");
//  }

//  @font-face {
//     font-family: SegoeUI-regular;
//     src: url('assets/fonts/OpenSans-Regular.ttf')format("opentype");
//  }

 @font-face {
    font-family: SegoeUI-Semibold;
    src: url('assets/fonts/seguisb.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-Regular;
    src: url('assets/fonts/segoeui.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-Bold;
    src: url('assets/fonts/segoeuib.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-Italic;
    src: url('assets/fonts/segoeuii.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-Light;
    src: url('assets/fonts/segoeuil.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-SemiLight;
    src: url('assets/fonts/segoeuisl.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-Bold-Italic;
    src: url('assets/fonts/segoeuiz.ttf')format("opentype");
 }

 @font-face {
    font-family: SegoeUI-Black;
    src: url('assets/fonts/segoeuib.ttf')format("opentype");
 }


// h1, h2, h3, h4, h5, h6 , p ,li, a, button, input, label, body {

//   font-family: 'OpenSans-regular' !important;
//   font-weight:normal;
//   font-style:normal;

// }

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}
