.circularSVG {
  transition: transform 1s;
  cursor: pointer;
}
.activeClass{
  fill: #FEDB6E;
}
.activeClassText{
fill: #fff;
}
//.fontFamily{
//  font-weight: 800;
//  font-weight: bold;
//}
.activeClass1{
  fill: #8F9ADD;
}