

<div *ngIf="categoryGroup == 'Capabilities'">
<svg class="circularSVG" height="200.095" viewBox="0 0 220 200" width="170.288" (click)="svgClicked(scaleImapct)"  [attr.transform]="svgScale" [ngStyle]="{'transform': svgScale}">
  <defs><style>.a{fill:#fff; stroke-width:3px;}.b{stroke:none;}.c{fill:none;}.d{filter:url(#a);}</style>
    <filter id="a" x="0" y="0" width="221.288" height="224.095" filterUnits="userSpaceOnUse">
      <feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/>
      <feFlood flood-opacity="0.122"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/>
    </filter></defs><g class="d" transform="matrix(1, 0, 0, 1, 0, 0)">
  <g class="a" [attr.stroke]="color" transform="translate(9 6)">
  <ellipse class="b" [attr.class]="active? 'activeClass':'b'" cx="101.644" cy="103.047" rx="101.644" ry="103.047"/>
    <ellipse class="c" [attr.class]="active?'activeClass':'c'" cx="101.644" cy="103.047" rx="100.144" ry="101.547"/></g></g>
<text fill="#4C5E7A"  font-weight="500" font-size="18" text-anchor="middle" x="110" y="100" class="fontFamily">{{trendNameone}}</text>
<text fill="#4C5E7A"  font-weight="500" font-size="18" text-anchor="middle" x="110" y="125" class="fontFamily">{{trendNametwo}}</text>
<text [attr.fill]="color" [attr.class]="active?'activeClassText fontFamily textCount':'fontFamily textCount'"  font-weight="500" font-size="24" text-anchor="middle" x="110" y="155">{{scaleImapct | number :'1.1-1'}}</text>
</svg>
</div>


<div *ngIf="categoryGroup == 'Strategies'">
<svg class="circularSVG" height="200.095" viewBox="0 0 220 200" width="170.288" (click)="svgClicked()"  [attr.transform]="svgScale" [ngStyle]="{'transform': svgScale}">
  <defs><style>.a{fill:#fff; stroke-width:3px;}.b{stroke:none;}.c{fill:none;}.d{filter:url(#a);}</style>
    <filter id="a" x="0" y="0" width="221.288" height="224.095" filterUnits="userSpaceOnUse">
      <feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/>
      <feFlood flood-opacity="0.122"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/>
    </filter></defs><g class="d" transform="matrix(1, 0, 0, 1, 0, 0)">
  <g class="a" [attr.stroke]="color" transform="translate(9 6)">
  <ellipse class="b" [attr.class]="active? 'activeClass1':'b'" cx="101.644" cy="103.047" rx="101.644" ry="103.047"/>
    <ellipse class="c" [attr.class]="active?'activeClass1':'c'" cx="101.644" cy="103.047" rx="100.144" ry="101.547"/></g></g>
<text fill="#4C5E7A"  font-weight="500" font-size="18" text-anchor="middle" x="110" y="100" class="fontFamily">{{trendNameone}}</text>
<text fill="#4C5E7A"  font-weight="500" font-size="18" text-anchor="middle" x="110" y="125" class="fontFamily">{{trendNametwo}}</text>
<text [attr.fill]="color" [attr.class]="active?'activeClassText fontFamily textCount':'fontFamily textCount'"  font-weight="500" font-size="24" text-anchor="middle" x="110" y="155">{{scaleImapct | number :'1.1-1'}}</text>
</svg>
</div>