<div *ngIf="checkbox" class="checkbox-container" [ngStyle]="{'background-color' : bgColor ? bgColor : ''}">
  <div *ngIf="checkbox.title" class="checkbox-title" [ngClass]="{'text-align-left' : isTitleAlignLeft}">{{checkbox.title}}</div>

  <div *ngIf="checkbox.checkboxData && checkbox.checkboxData.length > 0 && !mirrorMode">
    <div *ngFor="let data of checkbox.checkboxData">
      <div *ngIf="data" id="checkbox-style" class="flex"
           [ngClass]="{'space-between' : !spacedNext , 'flex-start' : spacedNext}"
           [ngStyle]="{'border-bottom' : borderStyle ? borderStyle : ''}">
        <!-- Checkbox Icon -->
        <div class="pr-3">
          <div [ngStyle]="{'background': data.checked ? checkboxColor ? checkboxColor : '#3972D6' : 'white'}"
               class="checkbox-square col-3">
            <!--            maxSelectableCheckboxes not reached-->
            <div *ngIf="data.checked || !isMaxCountReached()" (click)="checkboxClicked(data.id)"
                 class="checkbox-tick pointer">
              <span>&#10003;</span>
            </div>
            <!--            maxSelectableCheckboxes is reached-->
            <div *ngIf="!data.checked && isMaxCountReached()" class="checkbox-tick-disabled">
              <span>&#10003;</span>
            </div>
          </div>
        </div>
        <!-- Checkbox Text -->
        <div *ngIf="data.name && (data.checked || !isMaxCountReached())" [ngStyle]="{'color': data.checked ? '#303030' : '#707070' }" class="checkbox-word">
          {{data.name}}</div>
        <div *ngIf="data.name && !data.checked && isMaxCountReached()" [ngStyle]="{'color': '#808080' }" class="checkbox-word">
          {{data.name}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="checkbox.checkboxData && checkbox.checkboxData.length > 0 && mirrorMode">
    <div *ngFor="let data of checkbox.checkboxData">
      <div
        [ngStyle]="{'background-color' : data.checked ? '#E0F0FA' : '','border-bottom' : borderStyle ? borderStyle : ''}"
        *ngIf="data" id="checkbox-style" class="flex space-between">
        <!-- Checkbox Text -->
        <div *ngIf="data.name && (data.checked || !isMaxCountReached())" [ngStyle]="{'color': data.checked ? '#303030' : '#707070' }" class="checkbox-word">
          {{data.name}}</div>
        <div *ngIf="data.name && !data.checked && isMaxCountReached()" [ngStyle]="{'color': '#808080' }" class="checkbox-word">
          {{data.name}}</div>
        <!-- Checkbox Icon -->
        <div class="pr-3">
          <div [ngStyle]="{'background': data.checked ? checkboxColor ? checkboxColor : '#3972D6' : 'white'}"
               class="checkbox-square col-3">
            <!--            maxSelectableCheckboxes not reached-->
            <div *ngIf="data.checked || !isMaxCountReached()" (click)="checkboxClicked(data.id)"
                 class="checkbox-tick pointer">
              <span>&#10003;</span>
            </div>
            <!--            maxSelectableCheckboxes is reached-->
            <div *ngIf="!data.checked && isMaxCountReached()" class="checkbox-tick-disabled">
              <span>&#10003;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
