.checkbox-container {
  user-select: none;
}

.checkbox-square {
  width: 1px;
  height: 1px;
  border: 1px solid #BCBCBC;
  padding: 6px;
  /* margin: 6px; */
  margin-top: 6px;
  margin-left: 9px;
  border-radius: 3px;
}

.checkbox-tick {
  font-weight: 700;
  font-size: 0.7rem;
  position: relative;
  margin-top: -8px;
  margin-left: -4px;
  color: white;
}

.checkbox-tick-disabled {
  font-weight: 700;
  font-size: 0.7rem;
  position: relative;
  margin-top: -8px;
  margin-left: -4px;
  color: white;
}

.pointer {
  cursor: pointer;
}

.checkbox-word {
  font-size: 16px;
  // font-family: SegoeUI-Semibold;
  font-weight: 600;
  padding-right: 16px;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.checkbox-title {
  font-size: 20px;
  color: #707070;
  padding-left: 9px;
  margin-bottom: 12px;
  // font-family: SegoeUI-Regular;
  font-weight: 400;
  text-align: center;
}

.text-align-left {
  text-align: left;
}

#checkbox-style {
  padding: 7px;
  margin-bottom: 2px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}
