.progressBarBackground{
    border-radius: 25px;
    min-width: 8.5%;
}
.progressBar {
    border-radius: 25px;
}
.progressBarLeftNumber{
    text-align: left;
}
.progressBarRightNumber{
    float: right;
}
.progressNumber{
    left: 50%;
    position: relative;
    top: 17px;
}

.rotation90{
    -webkit-transform: rotateZ(90deg); 
    transform: rotateZ(90deg); 
}

.progressBarNumber{
    float: right;
    position: relative;
    left: 24px;
    top: -15px;
    font-weight: 600;
    font-size: 14px;
}

.leftRightDiv{
    height: 20px;
}
