<div class="progressBarcontainer">
    <div class="progressBarParcentage">
        <span class="progressNumber" *ngIf="temporaryObject.percentageNumber"> {{temporaryObject.percentageNumber}} </span>
      </div>
      <div class="leftRightDiv" *ngIf="temporaryObject.percentageNumber ||  temporaryObject.leftSideNumbe">
        <span class="progressBarLeftNumber" *ngIf="temporaryObject.leftSideNumber"> {{temporaryObject.leftSideNumber}} </span>
        <span class="progressBarRightNumber" *ngIf="temporaryObject.rightSideNumber"> {{temporaryObject.rightSideNumber}} </span>
      </div>
   <div class="progressBarBackground"  [ngStyle]="setMyStylesBackground()">
      <div class="progressBar"  [ngStyle]="setMyStylesprogressBar()">
      </div>
      <span class="progressBarNumber" > {{temporaryObject.ProgressBarnumber}} </span>
   </div>
</div>