
<div class="gContainer" >

  <div class="row organizaImpactComponent">
    <div class="overallImpact">
      <h6 class="overallImpactText"><span style="color:#8F9ADD">Overall impact score </span> for {{'Strategic Streams' | languageString:'general'}} </h6><br>
    </div>
    <div class="trendCategories text-center" >
      <span class="selectTrend">Select a {{'strategic stream' | languageString:'general'}} to view impact on {{'strategies' | languageString:'general'}} </span>
    </div>
  </div>

  <div class="scoreSVGContainer" >
    <div class="col-12 marginTop" [transition-group]="'flip-list'" *ngIf="renderData.length" [style.marginTop.px]="marginTop">
      <div class="organizaImpactSVGImage" id="containerDiv" #widgetsContent>
        <span class="horizontalline"></span>
        <div *ngFor="let data of renderData | orderBy: 'strategyGroupImpactScore'" transition-group-item  [style.transform]="'scale('+windowHeight+')'">
          <div [ngClass]="data.strategyGroupImpactScore > 0 ? '' : 'countZero'">
            <app-organisation-impact-circle-svg (click)="navigationLink(data)" [svgScale]="'scale(' + data.scale + ')'"
                                                [categoryCount]="data.strategyGroupImpactScore" [color]="svgColor "
                                                [temp]="data"></app-organisation-impact-circle-svg>
          </div>
          <h5 class="organizationImpactlabel text-center"> {{data.strategyGroupName}} </h5>
          <h5 class="text-center"><h5 class="organizationImpactCount"> {{data.strategiesCount}}  Strategies </h5></h5>
        </div>
      </div>
      <img class="leftArrow" [hidden]='!parameter' (click)="scrollLeft()"  src="./assets/Images/left-arrow.svg" alt="left">
      <img class="rightArrow" [hidden]='!parameterright'(click)="scrollRight()" src="./assets/Images/right-arrow.svg" alt="right">
    </div>
  </div>

  <div class="row timelineFilter">
    <div class="col-12 text-center">
      <app-timeline-impactscorfilter (applyFilterEvent)="yearFilterSelected($event)"
                                     [yearActive]="this.filters.expectedTimeId"></app-timeline-impactscorfilter>
    </div>
  </div>
</div>
