<div class="gContainer">
  <div class="categoryListViewContainer">
    <div class="row heading">
      <div class="col-8 nopadding"><h5 class="categoryName"
                             [style.color]="tempJSONIcheck.isOpportunity ? '#4FD561' :'#FF6060'">{{name}}</h5></div>
      <div class="col-3 text-center"><h6 class="impactScorelabel">IMPACT SCORE</h6></div>
      <div class="col-1"></div>
    </div>
    <div class="ContainerDiv">
      <div class="listContainer">
        <div class="row list" *ngFor="let data of temp | orderBy: 'impactScore'; let i = index" #div (click)="showdetailsView(i)" style="cursor: pointer">
          <div class="col-8"><p class="categoryInformation">{{data.title}}</p></div>
          <div class="col-3 text-center"><h5 class="impactScore">{{data.impactScoreDescription}}</h5></div>
          <div class="col-1" >
            <img class="rightArrow" [src]="ImgURL" alt="leftArrow"/>
          </div>
          <div class="col-10 navigationDivShow">
            <div class="row">
              <div class="col-4"><h6 class="impactStr"><span
                class="impactStrCount">{{data.impactedStrategies.length}}</span> IMPACTED STRATEGIES</h6></div>
              <div class="col-4"><h6 class="impactCpb"><label
                class="impactStrCount">{{data.impactedCapabilities.length}}</label> IMPACTED CAPABILITIES </h6></div>
              <div class="col-4 imageDiv"><h6 class="impactLink" (click)="navigationLink(data)"> VIEW DETAILS </h6>
                <img class="rightArrowBlue" src="./assets/Images/rightblueArrow.svg" alt="leftArrow"
                     (click)="navigationLink(data)"/></div>
            </div>
          </div>
        </div>
      </div>
<!--      <label class="listUnderText"> Select a {{tempJSONIcheck.isOpportunity ? 'opportunity' : 'threat'}} to view more details </label>-->
    </div>

  </div>
  <div class="row timelineFilter">
    <div class="col-12 text-center">
      <app-timeline-impactscorfilter [yearActive]="timeLineImapctYearID"></app-timeline-impactscorfilter>
    </div>
  </div>
</div>
