.categoryListViewContainer {
  padding-left: 10px;
  padding-top: 25px;

}

.categoryName {
  color: #FF6060;
}

.impactScorelabel {
  color: #7D92AF;
}

.heading {
  padding-bottom: 15px;
  height: 40px;
}

.list {
  background-color: #F8F8F8;
  border-radius: 9px;
  padding: 15px 6px 6px 6px;
  margin-bottom: 9px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
}

.categoryInformation {
  color: #303030;
  font-size: 14px;
}

.impactScore {
  color: #757575;
  padding-left: 15px;
  padding-top: 10px;
  font-weight:500;
}

.listUnderText {
  font-size: 15px;
  color: #a29c9c;
  height: 50px;
  font-style: italic;
  margin-top: 15px;
}

.impactStr {
  font-size: 12px;
}

.impactCpb {
  font-size: 12px;
}

.impactLink {
  font-size: 12px;
  color: #5484D1;
  cursor: pointer;
  font-weight:500;
}

.imageDiv {
  display: flex;
  margin-top: 5px;
}

.rightArrowBlue {
  margin-left: 10px;
  margin-top: -6px;
  width: 22px;
  height: 30px;
}

.listContainer {
  height: calc(100% - 120px);
  overflow: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

.categoryListViewContainer {
  height: calc(100% - 120px);
}

.listContainer::-webkit-scrollbar {
  width: 8px;
}

.listContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(138, 134, 134);
  border-radius: 6px;
}

.listContainer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgb(56, 54, 54);
}

.impactStrCount {
  background-color: #5484D1;
  color: white;
  padding: 3px 7px;
  border-radius: 050%;
  margin-right: 5px;
}

.rotateDownDirection {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.navigationDivShow {
  display: none;
}

.timelineFilter {
  padding: 40px 0px;
  height: 80px;
  width: 100%;
  float: left;
  opacity: .5;
  pointer-events: none;
}

.ContainerDiv {
  height: 100%;
}
