<div class="searchContainer" >
 <input type="text" class="form-control searchInput" placeholder="Search" (click) ="showSearch()" autofocus />
 <img src="./assets/Images/searchImage.svg"  class="serachImage"  />
 <div class="notification" *ngIf="show" #search (clickOutside)="close($event)">
<ul class="nav navbar-nav" >
       <li><a class="nav-link" >Computer Processing Power <br> <span> By 2023 some computers could have... the processing power of the human brain and by 2045 they could be 100,000 times more.. </span> </a> <hr> </li>
     
            <li><a class="nav-link" >Computer Processing Power <br> <span> By 2023 some computers could have... the processing power of the human brain and by 2045 they could be 100,000 times more.. </span> </a> <hr> </li>
       <li><a class="nav-link" >Regional Migration <br> <span> Migration will remain constant with... migration patterns most likelyt to show movement between and within Asia and Africa in 2045. </span> </a>  <hr>  </li>      
         <li><a class="nav-link" >Regional Migration <br> <span> Migration will remain constant with... migration patterns most likelyt to show movement between and within Asia and Africa in 2045. </span> </a>  <hr>  </li>
       <li><a class="nav-link" >Computer Processing Power <br> <span> By 2023 some computers could have... the processing power of the human brain and by 2045 they could be 100,000 times more.. </span> </a> <hr> </li>
       <li><a class="nav-link" >Regional Migration <br> <span> Migration will remain constant with... migration patterns most likelyt to show movement between and within Asia and Africa in 2045. </span> </a>  <hr>  </li>

       <li><a class="nav-link" >Computer Processing Power <br> <span> By 2023 some computers could have... the processing power of the human brain and by 2045 they could be 100,000 times more.. </span> </a> <hr> </li>
       <li><a class="nav-link" >Regional Migration <br> <span> Migration will remain constant with... migration patterns most likelyt to show movement between and within Asia and Africa in 2045. </span> </a>   </li>
</ul>
</div>
</div>


