.searchContainer{
  width: 100%;
  height: 100%;
}

.searchInput{
  width: 225px;
  position: absolute;
  right: 183px;
  top: 12px;
  height: 28px;
  border-radius: 3px;
  line-height: 1;
  font-size: 12px;
}

.searchInput:focus {
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.serachImage{
  position: relative;
  width: 13px;
  left: -175px;
  top: 11px;
}
ul{
    display: block;

}
ul li span{
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   position: absolute;
  left: 10px;
  color: #707070;
  font-size: 12px;
}

ul li {
    text-align: left;
}

ul li a{
    font-weight:500;
    color: #303030;
    font-size: 12px;
    padding-bottom: 15px;
}
hr{
    margin-bottom: 0.5rem;  
}

.notification{
  background-color: white;
  position: absolute;
  top: 42px;
  right: 180px;
  width: 305px;
  border: 1px solid #E6E6E6;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
}

.notification::-webkit-scrollbar {
    width: 8px;
}

.notification::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
    border-radius: 6px;
}

.notification::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgb(230, 230, 230);
}
