<div class="gContainer" id="topBarContainer">
  <nav class="navbar navbar-expand-md navbar-dark bg-nav-blue">
    <div class="row w-100">
      <div class="col-4 d-flex flex-wrap ">
        <a class="navbar-brand mr-0" routerLink="/">
          <img class="logo" src="./assets/Images/StrategyDotZero_dark_background_blank.png" alt="SDZ Logo">
        </a>
      </div>
    </div>
  </nav>
  <div class="header-component">
    <div class="row no-margin">
      <div class="col-lg-4 no-padding" *ngIf="backImage">
        <h5 class="titleBarHidden">{{headinglabel}}</h5>
      </div>
      <div class="col-lg-4 no-padding" *ngIf="!backImage">
        <a class="back-button" id="back-button" (click)="windowBack()"><span class="arrowLeft"> </span></a>
        <label class="titleBar">{{headinglabel}}</label>
      </div>
      <div class="col-lg-4 no-padding">
        <div *ngIf="titleBarLinke">
          <label class="titleBarLink " [ngClass]="[!applyActiveClass  ? ' ' : 'titleBarLinkActive']" (click)="getNavigationLink(titleStream)">Strategic Streams</label>
          <label class="titleBarLink " [ngClass]="[applyActiveClass  ? ' ' : 'titleBarLinkActive']" (click)="getNavigationLink(titleCapabilities)">{{titleCapabilities}}</label>
          <label class="titleBarLink titleBarLinkblock">Business Units</label>
        </div>
      </div>
      <div class="col-lg-4 no-padding text-right">
        <!--<app-search></app-search>-->
        <div class="viewReport" *ngIf="backImage">
             <label (click)="navigateReport()">View Reports</label>
        </div>
        <div class="flex align-end">
          <div *ngIf="isFilterEnabled" class="filter" (click)="showFilters = !showFilters">
            Filters ({{filterCount}})
            <span [@arrowTrigger]="showFilters ? 'show-filter' : 'hide-filter' " class="arrow">&#8249;</span>
          </div>
          <div *ngIf="showFilters">
            <app-filter></app-filter>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
