#topBarContainer .navbar, #topBarContainer .header-component {
  height: 50px;
}

#topBarContainer .navbar .logo {
  width: 180px;
}

.navbar {
  background-color: #0F1B57;
  width: 100%;
}

.arrowLeft {
  position: absolute;
  left: 5px;
  top: 12px;
  right: 0;
  margin: auto;
}

.arrowLeft::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: #909090;
  border-width: 0px 2px 2px 0px;
  transform: rotate(135deg);
  left: 0;
  right: 0;
  margin: auto;
}

.back-button {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 6px 5px 0 10px;
  cursor: pointer;
  top: 2px;
}

.back-button:hover {
  box-shadow: inset 0 0 5px 0 #ccc;
}

.header-component {
  box-shadow: 0 0 2px 0;
  height: auto;
  background-color: #fff;
  /* margin-bottom: 20px; */
  position: relative;
  width: 100%;
  z-index: 5;
}

.titleBar {
  display: inline-block;
  position: relative;
  top: -8px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  color: #303030;
}

.titleBarHidden {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
  color: #303030;
  padding-top: 12px;
}

.titleBarLink {
  margin-left: 15px;
  top: 28px;
  font-size: 13px;
  color: #212529;
  position: relative;
  cursor: pointer;
}

.titleBarLinkActive {
 // font-weight:500;
 font-weight: 700;
  border-bottom: 2px solid #36528A;
  color: #36528A;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .titleBarHidden {
    font-style: normal !important;;
  }
}

.filter {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  cursor: pointer;
  padding: 16px 80px 16px 12px;
  margin-right: 30px;
  color: #8B8B8B;
  font-size: 12px;
}

.filter:hover {
  box-shadow: inset 0 0 5px 0 #ccc;
}

.flex {
  display: flex;
}

.align-end {
  justify-content: flex-end;
}

.arrow {
  position: absolute;
  font-size: 26px;
  transform: rotate(90deg);
  margin-left: 50px;
  top: 8px;
}

.titleBarLinkblock {
pointer-events: none;
opacity: 0.5;
}


.viewReport label{
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #2c8fad;
  color: #212529;
  border-radius: 50px;
  height: 33px;
  width: 122px;
  text-align: center;
  font-size: 14px;
  padding-top: 3px;
  margin-top: 8px;
  font-weight: 500;
  background-color: aliceblue;
  margin-right: 47px;

}