<!--<svg (click)="navigationLink()"></svg>-->

<div >
<svg class="circleSVG" viewBox="0 0 360.606 300.442" width="300" height="406"  [attr.transform]="svgScale" [ngStyle]="{'transform': svgScale}">
<line class="lineStating" x1="180" x2="180" y1="50" y2="-14" style="stroke: black;"></line>
<line class="lineEnding" x1="180" x2="250" y1="-14" y2="-14" style="stroke: black;"></line>
<text class="lineText" y="-25" x="185" font-size="30"  font-weight="500" [attr.fill]="color" class="fontFamily">{{ categoryCount | number :'1.1-1'}}</text>
<defs>
<filter id="a" x="2.473" y="4.945" width="355.889" height="366.034" filterUnits="userSpaceOnUse">
<feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="b"></feGaussianBlur>
<feFlood flood-opacity="0.122"></feFlood>
<feComposite operator="in" in2="b"></feComposite>
<feComposite in="SourceGraphic"></feComposite>
</filter><filter id="c" x="0" y="0" width="360.606" height="376.442" filterUnits="userSpaceOnUse">
<feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="d"></feGaussianBlur>
<feFlood flood-opacity="0.122"></feFlood><feComposite operator="in" in2="d"></feComposite>
<feComposite in="SourceGraphic"></feComposite></filter>
<filter id="e" x="7.418" y="29.67" width="345.361" height="315.771" filterUnits="userSpaceOnUse">
<feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="f">
</feGaussianBlur><feFlood flood-opacity="0.122"></feFlood><feComposite operator="in" in2="f"></feComposite>
<feComposite in="SourceGraphic"></feComposite>
</filter><filter id="g" x="43.269" y="48.214" width="274.721" height="278.518" filterUnits="userSpaceOnUse">
<feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="h"></feGaussianBlur>
<feFlood flood-opacity="0.122"></feFlood><feComposite operator="in" in2="h"></feComposite><feComposite in="SourceGraphic"></feComposite></filter></defs><g transform="translate(9 6)"><g class="j" filter="url(#a)" transform="matrix(1, 0, 0, 1, -9, -6)"><path class="a" [attr.fill]="color"  opacity="0.4" d="M139.079,0c76.811,0,139.079,46.906,139.079,104.767S215.891,209.534,139.079,209.534,0,162.628,0,104.767,62.268,0,139.079,0Z" transform="matrix(-0.63, -0.78, 0.78, -0.63, 186.52, 358.98)"></path>
</g><g class="i" filter="url(#c)" transform="matrix(1, 0, 0, 1, -9, -6)"><path class="b" opacity="0.2" [attr.fill]="color" d="M139.079,0c76.811,0,139.079,53.174,139.079,118.767S215.891,237.534,139.079,237.534,0,184.361,0,118.767,62.268,0,139.079,0Z" transform="matrix(0.48, -0.87, 0.87, 0.48, 9, 249.28)"></path></g><g class="h" filter="url(#e)" transform="matrix(1, 0, 0, 1, -9, -6)"><path class="c" [attr.fill]="color"  opacity="0.6" d="M139.079,0c76.811,0,139.079,53.174,139.079,118.767S215.891,237.534,139.079,237.534,0,184.361,0,118.767,62.268,0,139.079,0Z" transform="translate(16.42 102.96) rotate(-14)"></path></g><g class="g" filter="url(#g)" transform="matrix(1, 0, 0, 1, -9, -6)"><g class="d" fill="#fff" transform="translate(52.27 54.21)"><path class="e" stroke="none" d="M 128.3605499267578 259.5177307128906 C 119.7196197509766 259.5177307128906 111.0843811035156 258.6343994140625 102.6947479248047 256.8922424316406 C 94.51868438720703 255.1943969726563 86.47638702392578 252.6610260009766 78.79125213623047 249.3623962402344 C 71.24518585205078 246.1235046386719 63.96685028076172 242.114501953125 57.15841674804688 237.4467620849609 C 50.41411590576172 232.8230285644531 44.07201766967773 227.512939453125 38.3082160949707 221.6638946533203 C 32.54418182373047 215.8146057128906 27.31111717224121 209.3782653808594 22.7543830871582 202.5336608886719 C 18.15391731262207 195.6233978271484 14.20265007019043 188.2360382080078 11.01025009155273 180.5767669677734 C 7.75885009765625 172.7758636474609 5.261683464050293 164.6123352050781 3.588116645812988 156.3128967285156 C 1.87078320980072 147.7963714599609 1.000016570091248 139.0305328369141 1.000016570091248 130.2588653564453 C 1.000016570091248 121.4871978759766 1.87078320980072 112.7213668823242 3.588116645812988 104.204833984375 C 5.261683464050293 95.9053955078125 7.75885009765625 87.74186706542969 11.01025009155273 79.94096374511719 C 14.20265007019043 72.28170013427734 18.15391731262207 64.89433288574219 22.7543830871582 57.98406600952148 C 27.31111717224121 51.13946533203125 32.54418182373047 44.70313262939453 38.3082160949707 38.85383224487305 C 44.07201766967773 33.00479888916016 50.41411590576172 27.69469833374023 57.15841674804688 23.07096481323242 C 63.96685028076172 18.40323257446289 71.24518585205078 14.39423179626465 78.79125213623047 11.1553316116333 C 86.47638702392578 7.856698513031006 94.51868438720703 5.323331832885742 102.6947479248047 3.62549877166748 C 111.0843811035156 1.883332014083862 119.7196197509766 0.9999986886978149 128.3605499267578 0.9999986886978149 C 137.0014801025391 0.9999986886978149 145.63671875 1.883332014083862 154.0263519287109 3.62549877166748 C 162.2024230957031 5.323331832885742 170.2447204589844 7.856698513031006 177.9298553466797 11.1553316116333 C 185.4759216308594 14.39423179626465 192.7542877197266 18.40323257446289 199.5627136230469 23.07096481323242 C 206.3069763183594 27.69469833374023 212.6491241455078 33.00479888916016 218.4128875732422 38.85383224487305 C 224.1769104003906 44.70313262939453 229.4099884033203 51.13946533203125 233.9667510986328 57.98406600952148 C 238.5671844482422 64.89433288574219 242.5184783935547 72.28170013427734 245.7108764648438 79.94096374511719 C 248.9622802734375 87.74186706542969 251.4594573974609 95.9053955078125 253.1330108642578 104.204833984375 C 254.8503570556641 112.7213668823242 255.7211151123047 121.4871978759766 255.7211151123047 130.2588653564453 C 255.7211151123047 139.0305328369141 254.8503570556641 147.7963714599609 253.1330108642578 156.3128967285156 C 251.4594573974609 164.6123352050781 248.9622802734375 172.7758636474609 245.7108764648438 180.5767669677734 C 242.5184783935547 188.2360382080078 238.5671844482422 195.6233978271484 233.9667510986328 202.5336608886719 C 229.4099884033203 209.3782653808594 224.1769104003906 215.8146057128906 218.4128875732422 221.6638946533203 C 212.6491241455078 227.512939453125 206.3069763183594 232.8230285644531 199.5627136230469 237.4467620849609 C 192.7542877197266 242.114501953125 185.4759216308594 246.1235046386719 177.9298553466797 249.3623962402344 C 170.2447204589844 252.6610260009766 162.2024230957031 255.1943969726563 154.0263519287109 256.8922424316406 C 145.63671875 258.6343994140625 137.0014801025391 259.5177307128906 128.3605499267578 259.5177307128906 Z"></path>
<path class="f" [attr.fill]="color"  stroke="none" d="M 128.3605499267578 2 C 119.7877807617188 2 111.2209777832031 2.8763427734375 102.8980560302734 4.604629516601563 C 94.78741455078125 6.288833618164063 86.80941772460938 8.802001953125 79.18568420410156 12.07423400878906 C 71.69941711425781 15.28750610351563 64.47857666015625 19.26483154296875 57.72384643554688 23.89573669433594 C 51.03218078613281 28.48336791992188 44.73948669433594 33.75216674804688 39.02047729492188 39.55572509765625 C 33.30097961425781 45.35980224609375 28.10835266113281 51.74642944335938 23.58677673339844 58.53823852539063 C 19.02182006835938 65.39520263671875 15.10098266601563 72.72552490234375 11.93324279785156 80.32566833496094 C 8.706954956054688 88.06636047363281 6.229019165039063 96.16696166992188 4.568344116210938 104.4024963378906 C 2.864120483398438 112.8540954589844 1.999984741210938 121.5534362792969 1.999984741210938 130.2588653564453 C 1.999984741210938 138.9642944335938 2.864120483398438 147.6636352539063 4.568344116210938 156.115234375 C 6.229019165039063 164.3507385253906 8.706954956054688 172.4513549804688 11.93324279785156 180.1920318603516 C 15.10098266601563 187.7921752929688 19.02182006835938 195.1225280761719 23.58677673339844 201.9794921875 C 28.10835266113281 208.7712707519531 33.30097961425781 215.1578979492188 39.02047729492188 220.9620056152344 C 44.73948669433594 226.7655639648438 51.03221130371094 232.0343627929688 57.72384643554688 236.6219940185547 C 64.47857666015625 241.2528991699219 71.69941711425781 245.230224609375 79.18568420410156 248.4434967041016 C 86.80941772460938 251.7157287597656 94.78741455078125 254.2288970947266 102.8980560302734 255.9131011962891 C 111.2209777832031 257.6413879394531 119.7877807617188 258.5177307128906 128.3605499267578 258.5177307128906 C 136.9333190917969 258.5177307128906 145.5001220703125 257.6413879394531 153.8230590820313 255.9131011962891 C 161.9336853027344 254.2288970947266 169.9116821289063 251.7157287597656 177.5354156494141 248.4434967041016 C 185.0216827392578 245.230224609375 192.2424926757813 241.2528991699219 198.9972534179688 236.6219940185547 C 205.6888885498047 232.0343627929688 211.9816131591797 226.7655639648438 217.7005920410156 220.9620056152344 C 223.4200744628906 215.1578979492188 228.6127471923828 208.7712707519531 233.1343231201172 201.9794921875 C 237.6992797851563 195.1225280761719 241.6200866699219 187.7921752929688 244.7878112792969 180.1920318603516 C 248.0141448974609 172.4513549804688 250.4920501708984 164.3507385253906 252.1527099609375 156.115234375 C 253.8569488525391 147.6636352539063 254.7210845947266 138.9642944335938 254.7210845947266 130.2588653564453 C 254.7210845947266 121.5534362792969 253.8569488525391 112.8540954589844 252.1527099609375 104.4024963378906 C 250.4920501708984 96.16696166992188 248.0141448974609 88.06636047363281 244.7878112792969 80.32566833496094 C 241.6200866699219 72.72552490234375 237.6992797851563 65.39520263671875 233.1343231201172 58.53823852539063 C 228.6127471923828 51.74642944335938 223.4200744628906 45.35980224609375 217.7005920410156 39.55572509765625 C 211.9816131591797 33.75216674804688 205.6888885498047 28.48336791992188 198.9972534179688 23.89573669433594 C 192.2424926757813 19.26483154296875 185.0216827392578 15.28750610351563 177.5354156494141 12.07423400878906 C 169.9116821289063 8.802001953125 161.9336853027344 6.288833618164063 153.8230590820313 4.604629516601563 C 145.5001220703125 2.8763427734375 136.9333190917969 2 128.3605499267578 2 M 128.3605499267578 0 C 199.2521209716797 0 256.7210693359375 58.31886291503906 256.7210693359375 130.2588653564453 C 256.7210693359375 202.1988372802734 199.2521209716797 260.5177307128906 128.3605499267578 260.5177307128906 C 57.46897888183594 260.5177307128906 -3.0517578125e-05 202.1988372802734 -3.0517578125e-05 130.2588653564453 C -3.0517578125e-05 58.31886291503906 57.46897888183594 0 128.3605499267578 0 Z"></path>
</g></g></g></svg>
</div>
