<div *ngIf="extendedData && extendedData.length > 0">
  <div class="arrow-up"></div>
  <div class="tag-dropdown-containter p-2">
    <div class="row m-0 row-container" *ngFor="let eachTag of extendedData">
      <!-- <div *ngFor="let eachTag of extendedData"> -->
      <div *ngIf="eachTag && eachTag.name" class="col-11 p-0 text-style">{{eachTag.name}}</div>
      <!-- Cross Icon/ Remove Button -->
      <div class="col-1" style="padding: 0px 4px">
        <span (click)="removeTag(eachTag)" class="cross-icon">&#10005;</span>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>