.arrow-up {
    position: relative;
    right: -200px;
    width: 60px;
    height: 30px;
    border-bottom: solid 20px white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

.tag-dropdown-containter {
    width: 300px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.row-container {
    padding: 4px 8px;
    border-bottom: 2px solid #DFDFDF;
}

.text-style {
    text-overflow: ellipsis;
    color: #707070;
    font-size: 14px;
    // font-family: SegoeUI-Regular;
    font-weight: 400;
    // padding: 0px 4px;
}

.cross-icon {
    color: #53B8D1;
    cursor: pointer;
}