<div class="row trendComponent">
  <div class="col-lg-12 nopadding">

    <div class="trendDetailsComponent">
      <div class="row">
        <div class="col-10">
          <h6 class="trend-title" style="font-size: 12px;">{{'TREND' | languageString:'general'}} TITLE </h6>
          <h5 class="trendHeading">{{trendRenderData.trendTitle}}</h5>
          <p class="trendDetailsInformation">{{trendRenderData.trendDescription}} </p>
        </div>
        <div class="col-1 text-center">
          <img class="closeCategory" (click)="navigationLink()" style="width:40%"
               src="./assets/Images/closeCircleBlueImg.svg"/><br>
          <span class="clsoeText"> CLOSE</span>
        </div>
      </div>

      <div class="row sourceInformationDiv">
        <div class="col-8">
          <h6 class="sourceInformation">Sources: <span
            *ngFor="let data of ImpactJson;let i = index"> <a class="externalLink"
                                                              (click)="externalURLFun(data)">{{data.linkName}}{{i != ImpactJson.length - 1 ? ',' : ''}}</a> </span>
            <span
              *ngIf="!ImpactJson || ImpactJson.length === 0" class="source-not-available">Not Available</span></h6>
        </div>
      </div>

      <div class="trendGraph">
        <div class="trendThreadOpprtu">
          <span class="threat">{{trendRenderData.totalThreatsCount}}</span>
          <h6> {{'THREATS' | languageString:'general'}}</h6><span
          class="opportuni">{{trendRenderData.totalOpportunitiesCount}} </span>
          <h6>  {{'OPPORTUNITIES' | languageString:'general'}}</h6>
        </div>
        <div class="row lineImageGradian"></div>
        <div class="row">
          <div class="col-6 nopadding">
            <div class="trendGraphContainer">
              <app-trend-graphs [chartData]="chartData" *ngIf="showChart"></app-trend-graphs>
            </div>
          </div>
          <div class="col-5">
            <!--            <h6 class="CardTreadsOpporheading"> Tap on any {{'threats' | languageString:'general'}}-->
            <!--              or {{'opportunities' | languageString:'general'}} to view its related strategies and-->
            <!--              capabilities </h6>-->
            <div class="scorllingDiv">
              <div class="CardTreadsOppor" *ngFor="let data of threadOpportunty | orderBy: 'impactScore'; let index=index">
                <div class="card">
                  <div class="row" style="padding-top: 11px;">
                    <div class="col-1">
                      <label class="textLabel"
                             [ngStyle]="{'background': data.categoryColor}">{{getShortName(index)}} </label>
                    </div>
                    <div class="col-11">
                      <h6 class="TreadsOpporInformationTitle">{{data.title}}</h6>


                      <div class="row" style="padding-top: 8px;">

                        <div class="col-8 text-left" style="padding:0px">
                          <h6 class="TreadsOpporInformation"> Impact Score
                            <span class="impactScoreText">{{data.impactScore | number :'1.1-1'}}/25 </span></h6>
                        </div>
                        <div class="col-4 text-right nopadding">
                          <label class="conditionLabe"> {{data.likelihoodName.toLocaleUpperCase()}}</label>
                        </div>
                      </div>


                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row impactedDetails">
          <div class="">
            <h6><span class="impactedScore">{{strategiesCount}}</span>
              <span>IMPACTED  {{'STRATEGIES' | languageString:'general'}}</span></h6>
            <div class="imapctlineImageGradian"></div>

          </div>
          <div class="" style="display:flex;margin-left: 61px;"  *ngIf="trendRenderData && trendRenderData.strategies && trendRenderData.strategies.length > 0">
            <div class="" style="display:flex;margin-left: 20px;" *ngFor="let datalist of trendRenderData.strategies">
            <h6 class="imapctcategory"> {{datalist.name}} </h6>
            <img src="./assets/Images/interfacerightsideblue.svg"/>
            <div class="verticalLine"></div>
          </div>
          </div>
          <div class="" style="display:flex;margin-left: 20px;padding-top: 13px;"
               *ngIf="!trendRenderData || !trendRenderData.strategies || trendRenderData.strategies.length === 0">
            <div class="" style="display:flex;margin-left: 20px;" >
            <h6 class="no-impacted-capability">No Impacted Strategies </h6>
            <!--          <img src="./assets/Images/interfacerightsideblue.svg"/>-->
            <!--          <div class="verticalLine"></div>-->
          </div>
        </div>
      </div>
      <div class="row impactedDetails">
        <div class="">
          <h6><span class="impactedScore">{{capabilityCount}}</span>
            <span>IMPACTED  {{'CAPABILITIES' | languageString:'general'}}</span></h6>
          <div class="imapctlineImageGradian"></div>

        </div>
        <div style="display:flex;margin-left: 61px;" *ngIf="trendRenderData && trendRenderData.capabilities && trendRenderData.capabilities.length > 0">
          <div class="" style="display:flex;margin-left: 20px;" *ngFor="let datalist of trendRenderData.capabilities">
            <h6 class="imapctcategory">{{datalist.name}} </h6>
                      <img src="./assets/Images/interfacerightsideblue.svg"/>
            <div class="verticalLine"></div>
          </div>
        </div>
        <div class="" style="display:flex;margin-left: 20px;padding-top: 13px;"
             *ngIf="!trendRenderData || !trendRenderData.capabilities || trendRenderData.capabilities.length === 0">
          <h6 class="no-impacted-capability">No Impacted Capabilities </h6>
          <!--          <img src="./assets/Images/interfacerightsideblue.svg"/>-->
          <!--          <div class="verticalLine"></div>-->
        </div>
      </div>
    </div>


  </div>
</div>
