.clsoeText {
  font-size: 12px;
  color: #303030
}

.trendHeading {
  color: #5484D1;
  padding: 0px 0px 4px 0px;
  font-weight:500;
  font-size: 20px;
}

.trendDetailsInformation {
  color: #707070;
  font-size: 16px;
}

.trendDetailsComponent {
  padding-top: 55px;
  padding-right: 21px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.sourceInformation {
  color: #979797;
  font-size: 14px;
  font-weight:500;

  .source-not-available {
    font-weight: 400;
  }
}

.sourceInformationDiv img {
  width: 25%
}

.sourceInformationDiv span {
  padding: 7px 2px;
  border-radius: 10px;
  margin-right: 0px;
  padding-bottom: 12px;
}

.trendThreadOpprtu {
  padding-top: 25px;
  padding-left: 13px;
  display: flex;
}

.trendThreadOpprtu h6 {
  color: #606060;
  font-size: 12px;
  padding-top: 20px;
}

.trendThreadOpprtu .opportuni {
  color: #78F088;
  font-size: 30px;
  font-weight:500;
  padding-left: 12px;
  padding-right: 6px;

}

.trendThreadOpprtu .threat {
  color: #F07878;
  font-size: 30px;
  font-weight:500;
  padding-right: 5px;
}

.lineImageGradian {
  background-image: linear-gradient(to left, white, #5484D1);
  padding: 1px;
  margin-bottom: 21px;
}

.impactedDetails {
  padding-top: 35px;
  padding-bottom: 35px;
}

.impactedDetails h6 {
  color: #606060;
  font-size: 14px;
}

.impactedScore {
  color: #5484D1;
  font-weight:500;
  font-size: 25px;
  padding-right: 8px;
}

.imapctlineImageGradian {
  background-image: linear-gradient(to left, white, #5484D1);
  padding: 2px;
}

.imapctcategory {
  padding-top: 12px;
  color: #7D7D7D;
  //font-weight:500;
}

.impactedDetails img {
  padding-top: 3px;
  padding-left: 16px;
  height: 38px;
  opacity: .5;
  pointer-events: none;
}

.verticalLine {
  border-left: 2px solid #DFDFDF;
  height: 38px;
  margin-left: 20px
}

.CardTreadsOpporheading {
  color: #ACACAC;
  font-size: 11px;
  font-style: italic;
  padding-left: 18px;
}

.textLabel {
  position: relative;
  color: white;
  border-radius: 50%;
  padding: 3px 0;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  width: 22px;
  height: 22px;
}

.TreadsOpporInformationTitle {
  color: #314353;
  font-size: 14px;
  font-family: Segoe UI, Semibold;
}

.TreadsOpporInformation {
  color: #707070;
  font-size: 12px;
   
}

.TreadsOpporInformation .impactScoreText {
  color: #53B8D1;
  font-weight:500;
  font-size: 16px;
  transform: translateY(1px);
}



.conditionLabe {
  font-size: 10px;
  padding: 4px 8px;
  background-color: #7D92AF;
  color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  text-transform: capitalize;
  width: 100px;
  height: 25px;
}

.CardTreadsOppor .card {
  margin-bottom: 8px;
}

.CardTreadsOppor {
  overflow: auto;
  overflow-x: hidden;
}

.CardTreadsOppor::-webkit-scrollbar {
  width: 8px;
  background-color: #5484D1;
}

.showtrend {
  padding-top: 50px;
  padding-left: 45px;
  color: #707070;
}

.TechnologyCategory {
  color: #7D92AF;
  padding-top: 3px;
}

.TechnologySubCategory {
  color: #13283E;
  padding: 18px 0px;
}

.categoryInformation {
  color: #707070;
}

.overallScoreText {
  color: #78A6EF;
  padding-left: 60px;

}

.overallScore {
  position: absolute;
  top: 550px;
}

.nopadding {
  padding: 0px;
}

.trendCategoryBar {
  background-image: linear-gradient(to left, white, #BED8F1);
  background-color: white;
}

.trendCategoryProgress {
  -webkit-transform: rotate(-270deg); /* Chrome, Safari, Opera */
  transform: rotate(-270deg);
  width: 10%;
  position: relative;
  left: 3.5%;
  top: 122px;
}

.trendCategoryProgress .progress {
  background-color: white;
  border-radius: 0rem;
  height: .5rem;
  width: 150px;
}

.highTextPrograssbar {
  position: absolute;
  transform: rotate(-90deg);
  left: -36px;
  font-size: 11px;
  top: -4px;
  color: #78A6EF;
}

.lowTextPrograssbar {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 11px;
  right: -123px;
  top: -3px;
  color: #4C5E7A;
}

.trendGraphContainer {
  width: 100%;
  border: 1px solid #e1eaf7;
  background-color: #fafbfc;
  border-radius: 10px;
  height: 350px;
  box-shadow: 0 0 3px #e1eaf7;
}

.noDisplayText {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: auto;
  height: 20px;
  color: #1e9bb9;
  font-family: Segoe UI, Semibold;
}

.scorllingDiv {
  overflow-x: hidden;
  overflow: auto;
  max-height: 330px;
  padding: 5px 20px;
}

.scorllingDiv::-webkit-scrollbar {
  width: 8px;
}

.scorllingDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 -306px 6px rgb(226, 226, 226);
  border-radius: 6px;
}

.scorllingDiv::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 331px 6px rgb(84, 132, 209);
}

.externalLink {
  color: #5484D1 !important;
  cursor: pointer;
}
