.startHeadingParaggramH5Italictag{
    font-style: italic;
    font-weight: 400;
    color: #A7A7A7;
}
.startHeadingParaggram{
    padding: 20px 0px;
    padding-left: 60px;
}
.startHeadingCartcomponent{
    background-color: #F6F8F9;
    padding: 50px 80px;
}
.startHeadingCartcomponent .card{   
    padding: 0px 50px;
    margin: 0px 16px;
    cursor: pointer;
    border: 2px solid rgb(82, 190, 201);
    border-radius: 1.25rem;
}

.startHeadingCartcomponent .cardtextH6{
    color: #707070;
    font-weight: 400;
    height: 80px;
}
.verticalLine{
    border-left: 2px solid #DFDFDF;
    height: 50px;
}
.cardTextSecond{
    color: #BCBCBC;
    font-weight: 400;
    font-style: italic;
    padding: 12px 0px 25px 0px;
}

.CountlabelEnvrm{
    position: absolute;
    top: -9px;
    right: -8px;
    color: white;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background-color: #53B8D1;
}

.operatingenvironment_Img{
    padding: 70px;
    height: 330px;
}
.textHeadingCard{
    font-weight: 400;
    margin-bottom: 2px;
}

.totalTrends, .trendCategories{
    color: #52BEC9;
  font-family: Segoe UI, Semibold;
}
.trendCategoriestext , .totalTrendsText{
    color: #707070;
    font-size: 12px;
    padding-left: 14px;
  font-family: Segoe UI, Semibold;
  padding-top: 4px;
}
.impactedStrategyH6Tag{
    font-size: 14px;
    height: 40px;
}
.addZindex{
    z-index: 12;
}

.addZindexno{
    z-index: 0;
}


ul ::-webkit-scrollbar {
    width: 6px !important;
}
