<div class="startHeadingParaggram">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="startHeadingParaggramH5tag">{{ introText | languageString:'general'}}   </h5>
      <h6 class="startHeadingParaggramH5Italictag">Select a card to explore</h6>
    </div>
  </div>
</div>

<div class="startHeadingCartcomponent">
  <div class="row">
    <div class="col-lg-4">
      <div class="card" (click)="navigateTOSecondComponent(OperatingEnvironmentModuleEnvironment.HyperLinks, $event)" [ngClass]="statusDivOne ? 'addZindex' : 'addZindexno'">
        <span class="CountlabelEnvrm">{{renderTempData ? renderTempData.newlyPublishedTrends : 0}}</span>
        <div class="cardImg text-center">
          <img class="operatingenvironment_Img" src={{OperatingEnvironmentModuleEnvironment.ImgLinks}} alt="operating-environment">
        </div>
        <div class="cardText">
          <h5 class="textHeadingCard">{{OperatingEnvironmentModuleEnvironment.textHeading | languageString:'general'}}</h5>
          <h5 style="font-weight: bold"> {{OperatingEnvironmentModuleEnvironment.textHeadingSecond | languageString:'general'}} </h5>
          <h6 class="cardtextH6">  {{OperatingEnvironmentModuleEnvironment.textparagraph | languageString:'general'}}</h6>
        </div>
        <div class="row">
          <div class="col-lg-5" style="display: flex;">
            <h3 class="totalTrends"> {{renderTempData.totalTrendsCount}}</h3>
            <h6 class="totalTrendsText">Total <br>  {{'Trends' | languageString:'general'}}</h6>
          </div>
          <div class="verticalLine">

          </div>
          <div class="col-lg-5" style="display: flex;">
            <h3 class="trendCategories"> {{renderTempData.totalCategoriesCount}}</h3>
            <h6 class="trendCategoriestext"> {{'Trends' | languageString:'general'}} <br> Categories</h6>
          </div>
        </div>

        <div>
          <h6 class="cardTextSecond">last updated {{OperatingEnvironmentModuleEnvironment.lastUpdate}} days ago</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" (click)="navigateTOSecondComponent1(threadOpportunity.HyperLinks, $event)" [ngClass]="statusDivSecond ? 'addZindex' : 'addZindexno'">
        <div class="cardImg text-center">
          <img class="operatingenvironment_Img" src={{threadOpportunity.ImgLinks}} alt="operating-environment">
        </div>
        <div class="cardText">
          <h5 class="textHeadingCard">  {{threadOpportunity.textHeading | languageString:'general'}} </h5>
          <h5 style="font-weight: bold">  {{threadOpportunity.textHeadingSecond | languageString:'general'}} </h5>
          <h6 class="cardtextH6">   {{threadOpportunity.textparagraph | languageString:'general'}}</h6>
        </div>
        <div class="row">
          <div class="col-lg-5" style="display: flex;">
            <h3 class="totalTrends"> {{renderTempData.totalThreatsCount}}</h3>
            <h6 class="totalTrendsText">Total <br>   Threats</h6>
          </div>
          <div class="verticalLine">

          </div>
          <div class="col-lg-5" style="display: flex;">
            <h3 class="trendCategories"> {{renderTempData.totalOpportunitiesCount}}</h3>
            <h6 class="trendCategoriestext">Total <br> Opportunities</h6>
          </div>
        </div>

        <div>
          <h6 class="cardTextSecond"> last updated {{threadOpportunity.lastUpdate}} days ago </h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" (click)="navigateTOSecondComponen2(impactOrganization.HyperLinks, $event)" [ngClass]="statusDivThird ? 'addZindex' : 'addZindexno'">
        <div class="cardImg text-center">
          <img class="operatingenvironment_Img" src={{impactOrganization.ImgLinks}} alt="operating-environment">
        </div>
        <div class="cardText">
          <h5 class="textHeadingCard"> {{impactOrganization.textHeading | languageString:'general'}}</h5>
          <h5 style="font-weight: bold">  {{impactOrganization.textHeadingSecond | languageString:'general'}}</h5>
          <h6 class="cardtextH6">  {{impactOrganization.textparagraph | languageString:'general'}}</h6>
        </div>
        <div class="row" style="padding-left: 20px;">
          <div class="col-lg-3" style="display: flex;margin-left: -30px;">
           <h4 class="totalTrends"> {{renderTempData.totalImapactedStrategiesCount}}</h4>
            <!-- <h4 class="totalTrends">0</h4> -->
            <h6 class="totalTrendsText" style="padding-right: 20px;padding-left: 12px;"> {{'Impacted' | languageString:'general'}}  <br>  Strategies</h6>
            <div class="verticalLine">

            </div>
          </div>

          <div class="col-lg-3" style="display: flex;margin-left: 36px;padding: 0px">
            <h4 class="trendCategories"> {{renderTempData.totalImpactedCapabilitiesCount}}</h4>
            <h6 class="trendCategoriestext" style="padding-right: 20px;">{{'Impacted' | languageString:'general'}} <br>Capabilities </h6>
            <div class="verticalLine">

            </div>
          </div>

          <div class="col-lg-5" style="display: flex;padding-left: 40px;">
<!--            <h5 class="trendCategories">{{renderTempData.totalImpactedBusinessUnitsCount}}</h5>-->
            <h5 class="trendCategories">0</h5>
            <h6 class="trendCategoriestext">{{'Impacted Business Units' | languageString:'general'}}</h6>
          </div>
        </div>

        <div>
          <h6 class="cardTextSecond"> last updated {{impactOrganization.lastUpdate}} days ago </h6>
        </div>
      </div>
    </div>
  </div>
</div>
