<div *ngFor="let eachTableRow of currentTableContent; let rowIndex = index" class="tableDataRow row"
  [ngClass]="{'pointer' : isRowSelectable, 'colored-background': rowIndex % 2 != 0, 'white-background': rowIndex % 2 == 0}"
  id="lazyLoadedObserver{{rowIndex}}" (click)="emitRow()">
  <div [ngClass]="{'hoverActivated' : isRowSelectable, 'first-column' : userTouchDetected}" class="row-padding"
    *ngFor="let tableRowData of eachTableRow | slice:0:1; let columnIndex = index" [ngStyle]="tableRowData.style">
    <span [ngClass]="{'underlined-column' : columnIndex === selectableColumnNumber}"
      (click)="emitColumn(columnIndex === selectableColumnNumber, tableRowData.id)" *ngIf="tableRowData.data"
      [innerHTML]="tableRowData.data | safeHtml"></span>
    <div *ngIf="!tableRowData.data">
      <div class="text-center">
        <div class="ui placeholder">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div [ngClass]="{'colored-background': rowIndex % 2 != 0, 'white-background': rowIndex % 2 == 0}" class="sub-td"> -->
  <!-- <table> -->
  <div style="overflow-x: auto;display: flex;overflow-y: hidden" class="row-padding" (touchmove)="triggerScroll(rowIndex)" (touchend)="touchCancelled(rowIndex)" id="{{id}}-{{rowIndex}}"
    [style.width]="(eachTableRow && eachTableRow.length > 0 && eachTableRow[0].style && eachTableRow[0].style.width) ? getRemainingWidth(eachTableRow[0].style.width) : '' ">
    <div [ngClass]="{'hoverActivated' : isRowSelectable}" class="td-data"
      *ngFor="let tableRowData of eachTableRow | slice:1; let columnIndex = index" [ngStyle]="tableRowData.style"
      [style.width]="getWidth(tableRowData.largeDeviceWidth)"
      [style.minWidth]="getMinWidth(tableRowData.mediumDeviceWidth)">
      <div [ngClass]="{'underlined-column' : columnIndex + 1 === selectableColumnNumber}"
        (click)="emitColumn(columnIndex + 1 === selectableColumnNumber, tableRowData.id)" *ngIf="tableRowData.data"
        [innerHTML]="tableRowData.data | safeHtml"></div>
      <div *ngIf="!tableRowData.data">
        <div class="text-center">
          <div class="ui placeholder">
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </table> -->
  <!-- </div> -->
</div>

<table *ngIf="currentTableContent && currentTableContent.length > 0">
  <!-- <tr *ngFor="let eachTableRow of currentTableContent; let rowIndex = index" class="tableDataRow"
    [ngClass]="{'pointer' : isRowSelectable}" id="lazyLoadedObserver{{rowIndex}}" (click)="emitRow()">
    <td
      [ngClass]="{'hoverActivated' : isRowSelectable, 'colored-background': rowIndex % 2 != 0, 'white-background': rowIndex % 2 == 0}"
      *ngFor="let tableRowData of eachTableRow | slice:0:1; let columnIndex = index" [ngStyle]="tableRowData.style">
      <div [ngClass]="{'underlined-column' : columnIndex === selectableColumnNumber}"
        (click)="emitColumn(columnIndex === selectableColumnNumber, tableRowData.id)" *ngIf="tableRowData.data"
        [innerHTML]="tableRowData.data | safeHtml"></div>
      <div *ngIf="!tableRowData.data">
        <div class="text-center">
          <div class="ui placeholder">
            <div class="line"></div>
          </div>
        </div>
      </div>
    </td>
    <td [ngClass]="{'colored-background': rowIndex % 2 != 0, 'white-background': rowIndex % 2 == 0}" class="sub-td">
      <table>
        <tr>
          <td [ngClass]="{'hoverActivated' : isRowSelectable}" class="td-data"
            *ngFor="let tableRowData of eachTableRow | slice:1; let columnIndex = index" [ngStyle]="tableRowData.style"
            [style.width]="getWidth(tableRowData.largeDeviceWidth)"
            [style.minWidth]="getMinWidth(tableRowData.mediumDeviceWidth)">
            <div [ngClass]="{'underlined-column' : columnIndex === selectableColumnNumber}"
              (click)="emitColumn(columnIndex === selectableColumnNumber, tableRowData.id)" *ngIf="tableRowData.data"
              [innerHTML]="tableRowData.data | safeHtml"></div>
            <div *ngIf="!tableRowData.data">
              <div class="text-center">
                <div class="ui placeholder">
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr> -->
  <tr [hidden]="!showShimmerRows" *ngFor="let eachDummyTableRow of dummyRow">
    <td *ngFor="let eachDummyData of eachDummyTableRow" [ngStyle]="eachDummyData.style">
      <div class="text-center">
        <div class="ui placeholder">
          <div class="line"></div>
        </div>
      </div>
    </td>
  </tr>
</table>

<!-- {'background-color': rowIndex % 2 == 0 ? '' : '#E6E6E6'} &&  -->
