<div class="gContainer" (click)="hexaTrendDetails = false;">
  <div class="row trendCategory">
    <div class="col-10">


      <div class="trendCount">
        <span class="countlabel"> {{TrendCategorDataCount.trendSummary.length}} </span> <br>
        <span class="trendlabel" style="margin: -24px 0px;margin-top: -38px;"> {{'TRENDS' | languageString:'general'}}</span><br>
        <span class="trendtext" style="margin-top: -22px;"> Tap on a {{'trend' | languageString:'general'}} to <br> view more details. </span>
      </div>

    </div>

    <div class="col-1">
      <img class="closeCategory" [routerLink]="['/operative/subCategory']" style=" padding-top: 40px;"
           src="./assets/Images/closeCircleBlueImg.svg"/><br>
      <span class="clsoeText"> CLOSE</span>
    </div>
  </div>


  <div class="roupingDivSection" [@listAnimation]="hexDetailstemp1.length" [ngClass]="hexDetailstemp1.length < 10 ? '' : 'roupingDivSectionSrcoll'">


    <div class="row groupHexagonal" *ngIf="hexDetailstemp1.length > 2">
      <div class="col-lg-12 firstHexagonalDiv">
        <div *ngFor="let data of hexDetailstemp1; index as i">
          <img src="./assets/Images/hexagonalBackgrounImg.svg" [attr.title]="data.trendName"
               (click)="showTrendHexaDetails($event, data)" alt="hexagonalBackgrounImg"
               class="hexagonalBackgrounImgone" [ngClass]="data.trendId ? '' : 'hexaBackgrounImg'"/>
          <app-trends [svgScale]="data.scale" [temp]="data" (EventHexagonal)="EventHexagonalfun(data)"
                      class="appClass" *ngIf="data.trendId"></app-trends>
        </div>
      </div>
    </div>


    <div class="row groupHexagonalSecond" *ngIf="hexDetailstemp2.length > 2">
      <div class="col-lg-12 secondHexagonalDiv">
        <div *ngFor="let data2 of hexDetailstemp2">
          <img src="./assets/Images/hexagonalBackgrounImg.svg" [attr.title]="data2.trendName"
               alt="hexagonalBackgrounImg" (click)="showTrendHexaDetails($event, data2)"
               class="hexagonalBackgrounImgtwo" [ngClass]="data2.trendId ? '' : 'hexaBackgrounImg'"   />
          <app-trends [svgScale]="data2.scale" [temp]="data2" (EventHexagonal)="EventHexagonalfun(data2)"
                      class="appClass" *ngIf="data2.trendId"></app-trends>
        </div>
      </div>
    </div>


    <div class="row  groupHexagonalthird" *ngIf="hexDetailstemp3.length > 2">
      <div class="col-lg-12 thirdHexagonalDiv">
        <div *ngFor="let data3 of hexDetailstemp3">
          <img src="./assets/Images/hexagonalBackgrounImg.svg" [attr.title]="data3.trendName"
               alt="hexagonalBackgrounImg" (click)="showTrendHexaDetails($event, data3)" class="hexagonalBackgrounImg" [ngClass]="data3.trendId ? '' : 'hexaBackgrounImg'"/>
          <app-trends [svgScale]="data3.scale" [temp]="data3" (EventHexagonal)="EventHexagonalfun(data3)"
                      class="appClass" *ngIf="data3.trendId"></app-trends>
        </div>
      </div>
    </div>

  </div>
  <div class="row timelineFilter">
    <div class="col-12 text-center">
      <app-timeline-impactscorfilter
        [yearActive]="filters.expectedTimeId"></app-timeline-impactscorfilter>

    </div>
  </div>

  <div class="row hexaTrendDetails" *ngIf="hexaTrendDetails" [@fadeInOut]>
    <div class="col-lg-12">
      <app-trendhexagonal [temp]="HexagonalData"
                          (countChangedSecond)="countChangedHandlerSecond($event)"></app-trendhexagonal>
    </div>
  </div>
</div>



