.trendCount {
  display: grid;
}

.countlabel {
  color: #5484D1;
  font-size: 42px;
  font-weight:500;
}

.trendCategory {
  background-color: #FBFBFB;
  padding: 20px 0px 0px 31px;
  height: 120px;
}

.trendlabel {
  color: #575757;
  padding: 6px 0px;
  font-size: 18px;
   
}

.trendtext {
  color: #A7A7A7;
  font-size: 12px;
  font-style: italic;
}

.hexaTrendDetails {
  position: absolute;
  z-index: 4;
  padding-top: 100px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 133%;
  overflow: auto;
  background-color: #fbfbfba6;
  padding-left: 12px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: overlay;
}

.timelineFilter {
  position: absolute;
  //left: 112px;
  bottom: 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.thirdHexagonalDiv, .secondHexagonalDiv, .firstHexagonalDiv {
  display: flex;
}

.firstHexagonalDiv {
  position: relative;
  left: 82px;
  top: -113px;
  z-index: 2;
}

.roupingDivSection {
  display: inline-block;
  background-color: #FBFBFB;
  height: calc(100% - 350px);
  width: 100%;
}

.thirdHexagonalDiv {
  position: relative;
  left: 6px;
  top: -526px;
}

.hexagonalBackgrounImg {
  width: 164px;
  position: relative;
  left: 8px;
  bottom: -166px;
  z-index: 2;
}

.groupHexagonalthird {
  padding-left: 76px;
}

.hexagonalBackgrounImgtwo {
  width: 164px;
  position: relative;
  left: 8px;
  bottom: -166px;
  z-index: 2;
}

.hexagonalBackgrounImgone {
  width: 164px;
  position: relative;
  left: 8px;
  bottom: -166px;
  z-index: 2;
}

.clsoeText {
  font-size: 12px;
  color: #303030;
}

.closeCategory {
  width: 37%;
  padding-top: 30px;
  position: relative;
  z-index: 3;
}

.appClass {
  //  z-index: 123;
}

.groupHexagonalSecond {
  position: relative;
  top: -320px;
}

.timelineFilter {
  opacity: .5;
  pointer-events: none;
  height: 50px;
  margin-bottom: 100px;
}

.roupingDivSection::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.roupingDivSection::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  background-color: #F5F5F5;
}

.roupingDivSection::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
}

.hexaBackgrounImg {
  opacity: 0.4;
  pointer-events: none;
}

.roupingDivSectionSrcoll {
  overflow: hidden;
  overflow-x: auto;
}
