table {
  font-family: inherit;
  width: 100%;
}

table th {
  background-color: #f6f6f6;
  // font-family: SegoeUI-Bold;
  font-weight: 700;
  padding: 16px;
  overflow-x: auto;
  user-select: none;
}

table td {
  background-color: white;
  // font-family: SegoeUI-Regular;
  font-weight: 400;
  padding: 16px;
  overflow-x: auto;
}

table tr {
  border: 1px solid #e6e6e6;
}

.flex {
  display: flex;
}

.left-align-flex {
  justify-content: flex-start;
}

.right-end {
  justify-content: flex-end;
  padding: 12px;
}

.left-end {
  justify-content: flex-start;
  padding: 12px;
  // font-family: SegoeUI-Regular;
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

.dot {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 20px;
  border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 20px;
}

.dot-left {
  margin-top: 3px;
  margin-right: 5px;
}

.left-arrow {
  position: relative;
  bottom: 8px;
  left: 5px;
  font-size: 20px;
}

.dot-right {
  margin-top: 3px;
  margin-left: 5px;
}

.right-arrow {
  position: relative;
  bottom: 8px;
  left: 6px;
  font-size: 20px;
}

.down-arrow {
  font-size: 10px;
  position: relative;
  bottom: 1px;
}

#content-count-drop-down {
  width: 100%;
  /* overflow-y: auto; */
  /* overflow-x: hidden;  */
  padding: 0;
  /* position: relative; */
  background: #f8f8f8;
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.down-arrow-container {
  position: relative;
  left: 10px;
}

.dropdown-data-styler {
  padding: 2px 0px;
}

.arrow-container {
  position: relative;
  top: 10px;
  left: 4px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.sort-header-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
}

.tableDataRow:hover {
  .hoverActivated {
    background-color: #f8f8f8;
  }
}

.footer-container {
  user-select: none;
}
