<!--When Table Contents Are Available-->
<table *ngIf="tableHeader && tableHeader.length > 0 && tableData && tableData.length > 0">
  <tr>
    <th *ngFor="let eachHead of tableHeader" [ngStyle]="eachHead.style">
      <div *ngIf="!eachHead.isSortingEnabled">{{eachHead.name}}</div>
      <div *ngIf="eachHead.isSortingEnabled" class="sort-header-container"
           (click)="sort(eachHead.key,eachHead.ascending,eachHead.isDateHeader)">
        <div>{{eachHead.name}}</div>
        <div [@sortArrow]="eachHead.ascending ? 'ascending' : 'descending' " class="arrow-up arrow-container"></div>
      </div>
    </th>
  </tr>
  <tr *ngFor="let eachData of tableData | slice:startIndex:endIndex;" class="tableDataRow"
      (click)="rowClicked(eachData.rowKey)" [ngClass]="{'pointer' : isRowSelectable}">
    <td [ngClass]="{'hoverActivated' : isRowSelectable}" *ngFor="let table of tableHeader;"
        [innerHTML]="eachData[table.key] | safeHtml" [ngStyle]="table.style"
        (click)="emitResponseFromSDZTable($event,eachData.rowKey)"></td>
  </tr>
</table>

<!--When No Table Contents are Available-->
<table *ngIf="tableHeader && tableHeader.length > 0 && (!tableData || tableData.length == 0)">
  <tr>
    <th *ngFor="let eachHead of tableHeader">
      <div *ngIf="!eachHead.isSortingEnabled">{{eachHead.name}}</div>
      <div *ngIf="eachHead.isSortingEnabled" class="sort-header-container"
           (click)="sort(eachHead.key,eachHead.ascending,eachHead.isDateHeader)">
        <div>{{eachHead.name}}</div>
        <div [@sortArrow]="eachHead.ascending ? 'ascending' : 'descending' " class="arrow-up arrow-container"></div>
      </div>
    </th>
  </tr>
  <tr>
    <td colspan="100%" class="text-center">No Records to Display</td>
  </tr>
</table>

<!-- Footer -->
<div class="row footer-container">
  <div *ngIf="tableContent && tableContent.length > 0" class="col-6">
    <div class="flex left-end"> Show &nbsp; <span class="row pointer m-0" (click)="dropdownTrigger()"> <span>
          {{contentPerPage}} </span>
        <div class="down-arrow-container" [@arrowTrigger]="toggleData ? 'hide' : 'show' "> <span class="down-arrow"
        >&#9660;</span></div>
        <div id="content-count-drop-down">
          <div (click)="selectedContentData(contentData)" class="dropdown-data-styler"
               *ngFor="let contentData of contentPerPageArray">
            {{contentData}}
          </div>
        </div>
      </span> entries
    </div>

  </div>
  <div *ngIf="totalPages && totalPages > 0" class="col-6 flex right-end">
    <div (click)="previousPage()" class="dot dot-left pointer">
      <span class="left-arrow">&#8249;</span>
    </div>
    Page {{currentPage}} of {{totalPages}}
    <div (click)="nextPage()" class="dot dot-right pointer">
      <span class="right-arrow">&#8250;</span>
    </div>
  </div>
</div>
