<div class="checkbox-container pr-3">
  <div [ngStyle]="{'background': checked ? checkboxColor ? checkboxColor : '#3972D6' : 'white'}"
       class="checkbox-square col-3">
    <div *ngIf="disabled">
      <div class="checkbox-tick">
        <span>&#10003;</span>
      </div>
    </div>
    <div *ngIf="!disabled">
      <div (click)="checkboxClicked()" class="checkbox-tick pointer">
        <span>&#10003;</span>
      </div>
    </div>
  </div>
</div>
