.checkbox-container {
  user-select: none;
}

.checkbox-square {
  width: 1px;
  height: 1px;
  border: 1px solid #BCBCBC;
  padding: 6px;
  /* margin: 6px; */
  margin-top: 6px;
  margin-left: 9px;
  border-radius: 3px;
}

.checkbox-tick {
  font-weight: 700;
  font-size: 0.7rem;
  position: relative;
  margin-top: -8px;
  margin-left: -4px;
  color: white;
}

.pointer {
  cursor: pointer;
}
