<div class="badge-group-container" id="badge-group">
  <div *ngIf="regularBatch && regularBatch.length > 0" class="row">
    <div class="p-1" *ngFor="let eachBadge of regularBatch;let index = index">
      <sdzl-widget-user-badge [batchContent]="eachBadge" [showName]="showName" [showNameTextColor]="showNameTextColor"
                              [showNameTextSize]="showNameTextSize"></sdzl-widget-user-badge>
    </div>
    <div *ngIf="extendedBatch && extendedBatch.length > 0">
      <span class="extended-text pointer" (click)="enableDropDown()">+ {{extendedBatch.length}}</span>
      <div style="position:absolute" *ngIf="showExtendedBadgeDropdown">
        <div class="dropdown-badge" *ngFor="let eachExtendedBadge of extendedBatch">
          <sdzl-widget-user-badge [batchContent]="eachExtendedBadge" [showName]="showName"
                                  [showNameTextColor]="showNameTextColor"
                                  [showNameTextSize]="showNameTextSize"></sdzl-widget-user-badge>
        </div>
      </div>
    </div>
  </div>
</div>
