// .badge-group-container {
// }

.extended-text {
    // font-family: SegoeUI-Semibold;
    font-weight: 600;
    color: #3972D6;
    position: relative;
    top: 6px;
    left: 1px;
}

.pointer {
    cursor: pointer;
}

.dropdown-badge {
    padding-top: 6px;
}