
<div class="hexagonal"   (click)="navigationGraph()" >
<!--<svg class="hexagonalSVG1"  >
<defs><style>.a,.b,.c{fill:#b9d5f1;}.a{opacity:0.3;}.b{opacity:0.5;}.c{opacity:0.7;}.d{fill:#fff;stroke:#d9e8f4;stroke-miterlimit:10;stroke-width:1.5px;}.e{filter:url(#a);}</style><filter id="a" x="27.226" y="24.979" width="205.19" height="231.673" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs>
<g transform="translate(0 0)" (click)="navigationGraph()">
<path class="a" d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z" transform="translate(79.33 276.149) rotate(-111)"/>
<path class="b" d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z" transform="translate(51.51 262.477) rotate(-99)"/>
<path class="c" d="M161.936,0H59.43a8.18,8.18,0,0,0-7.083,4.088L1.1,92.861a8.174,8.174,0,0,0,0,8.177L52.348,189.81A8.18,8.18,0,0,0,59.43,193.9H161.936a8.179,8.179,0,0,0,7.081-4.088l51.253-88.772a8.18,8.18,0,0,0,0-8.177L169.017,4.088A8.179,8.179,0,0,0,161.936,0Z" transform="translate(14.63 230.381) rotate(-80)"/>
<g class="e" transform="matrix(1, 0, 0, 1, 0, 0)">
<path class="d" d="M155.081,0H56.915a7.833,7.833,0,0,0-6.783,3.915L1.05,88.93a7.828,7.828,0,0,0,0,7.831l49.082,85.014a7.833,7.833,0,0,0,6.783,3.915h98.167a7.833,7.833,0,0,0,6.782-3.915l49.083-85.014a7.834,7.834,0,0,0,0-7.831L161.863,3.915A7.833,7.833,0,0,0,155.081,0Z" transform="translate(36.98 243.81) rotate(-90)"/>
</g>
</g>

</svg>-->






<svg [attr.transform]="transformScale" [ngStyle]="{'transform': transformScale}" width="153.562" height="159.064" viewBox="0 0 153.562 229.064" class="trendHexaSVG" ><defs><style>.a{fill:#fff;stroke:#5484d1;stroke-miterlimit:10;stroke-width:5px;}</style></defs><path class="a" d="M149.127,0h-94.4a7.533,7.533,0,0,0-6.522,3.765L1.009,85.516a7.528,7.528,0,0,0,0,7.531l47.2,81.75a7.533,7.533,0,0,0,6.522,3.765h94.4a7.532,7.532,0,0,0,6.521-3.765l47.2-81.75a7.533,7.533,0,0,0,0-7.531l-47.2-81.751A7.532,7.532,0,0,0,149.127,0Z" transform="translate(2.5 206.46) rotate(-90)"/>
<text class="title" y="140" x="90" text-anchor="middle"  font-size="20"  font-weight="500" fill="#4C5E7A">{{trendNamethree}}</text>
<text class="title" y="115" x="90" text-anchor="middle"   font-size="20"  font-weight="500" fill="#4C5E7A">{{trendNametwo}}</text>
<text class="title" y="90" x="90" text-anchor="middle"   font-size="20"  font-weight="500" fill="#4C5E7A">{{trendNameone}}</text>
</svg>
</div>

