$primary: #3972D6;

ul.sub-page {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 5px;
      cursor: pointer;
      user-select: none;
      border-bottom: 2px solid transparent;
      margin-right: 32px;
      color: #8B8B8B;
      font-weight: 600;

      &.active {
        border-bottom: 2px solid $primary;
        color: #303030;
        .round-icon {
          background-color: #3972D6;
        }
      }
    }
  }

.round-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #8B8B8B;
}

.align-right {
  display: flex;
  justify-content: flex-start;
}

.round-container {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.round-text {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-right: 1px;
  position: relative;
  bottom: 1px;
}
