<div [ngStyle]="{'border-bottom' : isBorderBottomVisible ? '1px solid #E6E6E6' : ''}" class="col-12 full-page-container">
  <ul class="sub-page">
    <li *ngFor="let eachTab of tabData" (click)="removeAndAddActiveClass(eachTab.id)" id="{{eachTab.id}}">
      <div class="align-right">
        <div>
          <a>{{eachTab.displayName}}</a>
        </div>
        <div *ngIf="showCount" class="round-container">
          <div class="round-icon">
            <div class="round-text">{{eachTab.displayCount}}</div>
          </div>
        </div>
      </div>

    </li>
    <!-- <li (click)="removeAndAddActiveClass('businessRules')" id="businessRules">
      <a>Business Rules</a>
    </li> -->
  </ul>
</div>
