.showtrend{
    padding-top: 50px;
    padding-left: 30px;
    color: #707070;
}

.trendsCategory{
  margin-top: 20px;
}

.TechnologyCategory{
    color: #7D92AF;
    padding-top: 3px;
}
.TechnologySubCategory{
  color: #13283E;
  padding: 24px 0px 18px 4px;
  //font-weight:500;
  font-size: 18px;
}
.categoryInformation{
    color: #707070;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overallScoreText{
    color:#78A6EF;
    padding-left: 60px;

}

.overallScore{
  height: 80px;
}


  .leftSideStatic{
    height: calc(95% - 100px);
  }


