<div class="row showtrendComponent gContainer">
  <div class="col-lg-3 height100p" [@EnterLeave]="'flyIn'" style="border-right: 2px solid #E6E6E6;">
    <div class="leftSideStatic">
      <h5 class="showtrend">Showing {{'trends' | languageString:'general'}} for</h5>
      <div class="row trendsCategory">
        <div class="col-3 text-right nopadding ">
          <img src="./assets/Images/trendSideBarimg.svg" alt="Trend"/>
        </div>
        <div class="col-9" style="margin-left: -10px;">
          <h3 class="TechnologyCategory">{{categoryName}} </h3>
          <h5 class="TechnologySubCategory">{{subCategoryName}} </h5>
          <p class="categoryInformation" title="subCategorysummaryData">
            {{subCategorysummaryData}}
          </p>
        </div>

      </div>
    </div>
    <div class="overallScore">
      <h5 class="overallScoreText">Overall {{'impact' | languageString:'general'}} score <br>
        <span style="font-size: 22px;font-weight:500;">     {{subCategoryimpactScoreData | number :'1.1-1'}} </span></h5>
    </div>
  </div>


  <div class="col-lg-9 nopadding" *ngIf="threadDetailsDiv"
       style="overflow:hidden;background-color: #FBFBFB;height: 900px;">
    <app-trend-category [temp]="threadOppsubCategory"
                        (countChanged)="countChangedHandler($event)"></app-trend-category>

  </div>
  <div class="col-lg-9 nopadding" *ngIf="groupOfHexagonal" style="overflow:hidden;">
    <app-trend-category-details [temp]="threadOppsubCategory"
                                (countChanged)="countChangedHandler($event)"></app-trend-category-details>

  </div>
</div>
