.moment-container-border-radius {
  padding: 4px;
  border-radius: 0px 16px 16px 16px;
  // background-color: #F3F7F9;
}

.moment-container-no-border-radius {
  padding: 4px;
  // background-color: #F3F7F9;
}

.moment-title {
  font-weight: 700;
  color: #303030;
  font-size: 18px;
  padding-left: 8px;
}

.moment-subtitle {
  font-weight: 400;
  color: #303030;
  font-size: 14px;
  padding-left: 8px;
}

.flex {
  display: flex;
}

.left-align-flex {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.moment-button-container {
  padding: 8px;
}

.moment-button {
  border-radius: 16px;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  padding: 2px 10px;
}

.moment-button-text {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 8px;
}

.moment-text {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 14px;
  padding: 3px 4px 0px 12px;
  border-left: 1px solid #7D7D7D;
  margin-top: 14px;
  position: relative;
  bottom: 7px;
}


