<div *ngIf="momentData">
  <div [ngClass]="{'moment-container-border-radius':momentData.isRoundedBorder,'moment-container-no-border-radius':!momentData.isRoundedBorder}"
        [ngStyle]="{'background-color' : momentData.backgroundColor ? momentData.backgroundColor : 'transparent'}">

    <!-- Moment Title -->
    <div *ngIf="momentData.title" class="moment-title">{{momentData.title}}</div>

    <!-- Moment Subtitle -->
    <div *ngIf="momentData.subtitle" class="moment-subtitle">{{momentData.subtitle}}</div>

    <!-- Moment Footer -->
    <div class="flex left-align-flex">

      <!-- Moment Button Text -->
      <div class="moment-button-container">
        <div *ngIf="momentData.buttonText" class="moment-button">
          <div class="moment-button-text">{{momentData.buttonText}}</div>
        </div>
      </div>

      <!-- <div *ngIf="momentData.buttonText" ></div> -->
      <!-- Moment Text -->
      <div *ngIf="momentData.momentText" class="moment-text">{{momentData.momentText}}</div>
    </div>

  </div>
</div>