<sdzl-layout-executive-top-bar [sdzLogoUrl]="sdzLogoSrc" [clientLogoUrl]="clientLogoSrc" [hamburgerIconUrl]="hamburgerUrl" (hamburgerTriggered)="hamburgerTriggered()"></sdzl-layout-executive-top-bar>
<div class="flex-start">
  <sdzl-layout-exec-dashboard-sidebar [sideBarData]="sideBarData" [hideSideBar]="hideSideBar" [customHeight]="'100%'">
  </sdzl-layout-exec-dashboard-sidebar>
  <div style="width: 100%">
    <!--<div style="position: relative;left:290px"></div>-->
    <!--<div *ngIf="showConfirmation">-->
    <!--  <sdzl-widget-confirmation-box [warningImage]="'assets/images/svg/danger.svg'"-->
    <!--                                [title]="'Do you want to delete this trend Are you Sure then?'"-->
    <!--                                [subtitle]="'This trend cannot be recovered once deleted'"-->
    <!--                                [successButtonText]="'DELETE'"-->
    <!--                                [successButtonTextColor]="'white'"-->
    <!--                                [successButtonBgColor]="'red'"-->
    <!--                                [cancelButtonText]="'CANCEL'"-->
    <!--                                [cancelButtonBgColor]="'white'"-->
    <!--                                [cancelButtonTextColor]="'black'"-->
    <!--                                [cancelButtonBorder]="'1px solid black'"-->
    <!--                                (cancelClicked)="showConfirmation=false"-->
    <!--                                (successClicked)="showConfirmation=false"-->
    <!--                                [blurId]="'test-blur'"-->
    <!--  ></sdzl-widget-confirmation-box>-->
    <!--</div>-->
    <!--<div id="test-blur">-->
    <!--  <button (click)="showConfirmationBox()">click for confirmation</button>-->

    <!--  <sdzl-widget-multiselect-checkbox [checkbox]="checkboxes" [isTitleAlignLeft]="true" [maxSelectableCheckboxes]="4" [bgColor]="'#F6F6F6'"-->
    <!--                                    [borderStyle]="'1px solid #F0F0F0'" [spacedNext]="true"-->
    <!--                                    (selectedCheckboxes)="selectedCheckbox($event)"></sdzl-widget-multiselect-checkbox>-->
    <!--    <button (click)="hideSideBar = !hideSideBar">Toggle Sidebar</button>-->
    <!-- <div style="display:flex;justify-content:flex-start">
      <div class="pl-0 pr-0 pt-1">
        <sdzl-widget-accordion-with-checkbox [accordionCheckboxes]="accordionCheckboxes"
          (selectedAccordionCheckboxes)="selectedAccordionCheckboxes($event)"></sdzl-widget-accordion-with-checkbox>
      </div>
      <div class="pl-0 pr-0 pt-1">
        <sdzl-widget-accordion-with-checkbox [enableTick]="true" [accordionCheckboxes]="accordionCheckboxes">
        </sdzl-widget-accordion-with-checkbox>
      </div>
    </div> -->

    <div>
      <sdzl-widget-filter-tags [filterTags]="filterTags" [bgColor]="'#FFFFFF'" [textColor]="'#707070'"
        (deletedTag)="deletedTag($event)" [borderStyle]="'2px solid #53B8D1'"></sdzl-widget-filter-tags>
    </div>

    <!--  <div class="col-3">-->
    <!--    <sdzl-widget-dropdown-filter-accordion [accordionCheckboxesArray]="accordionCheckboxesArray"-->
    <!--                                           [placeholder]="'Select one or more filters to apply'"-->
    <!--                                           (dropdownFilters)="dropdownFilters($event)"></sdzl-widget-dropdown-filter-accordion>-->
    <!--  </div>-->

    <!--  <sdzl-layout-checkbox (selectedCheckbox)="checkbox($event)" [disabled]="true"></sdzl-layout-checkbox>-->

    <!-- <input type="text" [(ngModel)]="searchText">
      <sdzl-layout-table-with-sort-and-search [contentPerPage]="" [tableHeader]="tableHeader"
                                              [tableContent]="tableData" [searchText]="searchText" [isRowSelectable]="true"
                                              [categoryFilters]="categoryFilters"
                                              (tableTrigger)="tableTrigger($event)"></sdzl-layout-table-with-sort-and-search> -->

    <!-- <sdzl-widget-user-badge [batchContent]="badgeContent" [showName]="true" [showNameTextSize]="'24px'" [showNameTextColor]="'red'"></sdzl-widget-user-badge>-->


    <!--<div>-->
    <!--   <sdzl-widget-user-badge-group [batchContentArray]="badgeContentArray"></sdzl-widget-user-badge-group>-->
    <!--</div>-->
    <!--  <div class="col-8 p-4">-->
    <!--    <sdzl-card-moment-log [momentData]="momentData"></sdzl-card-moment-log>-->
    <!--  </div>-->
    <!--  <div class="col-4">-->
    <!--    <sdzl-widget-step-slider [minValue]="0" [maxValue]="10" [currentValue]="0" (selectedValue)="selectedValue($event)">-->
    <!--    </sdzl-widget-step-slider>-->
    <!--  </div>-->

    <!--  <div class="col-4">-->
    <!--    <sdzl-widget-dual-step-slider [minValue]="0" [maxValue]="50" [sliderOneValue]="15" [sliderTwoValue]="30"-->
    <!--                                  [minValueText]="'Minimum Impact Score'" [maxValueText]="'Minimum Impact Score'"-->
    <!--                                  (selectedSliderOneValue)="selectedSliderOneValue($event)"-->
    <!--                                  (selectedSliderTwoValue)="selectedSliderTwoValue($event)" [disabled]="false">-->
    <!--    </sdzl-widget-dual-step-slider>-->
    <!--  </div>-->


    <!-- <sdzl-layout-button [buttonText]="'ADD BUTTON'" [bgColor]="'blue'" [textColor]="'white'"></sdzl-layout-button>-->

    <!--<div class="m-2">-->
    <!--  <sdzl-widget-edit-bar-with-dropdown [name]="'Test One'" [description]="'Test One Description'" [isEditEnabled]="true" [isDeleteEnabled]="true"></sdzl-widget-edit-bar-with-dropdown>-->
    <!--</div>-->

    <!--  <div class="col-6">-->
    <!--    <sdzl-widget-horizontal-tabs [tabData]="tabData" [isBorderBottomVisible]="true" (selectedTab)="selectedTab($event)">-->
    <!--    </sdzl-widget-horizontal-tabs>-->
    <!--  </div>-->
    <!--</div>-->
    <!-- <div class="progressBarContainer"> -->
    <!-- <sdzl-card-progress-bar [progressBar]="progressBar"></sdzl-card-progress-bar> -->
    <!-- </div> -->
    <!-- <div>
      <sdzl-layout-table-with-lazy-loading [tableContent]="tableContent" [increaseCount]="6" [selectableColumnNumber]="0"
                                           [hasNextPage]="stopLazyLoad" (loadNextSetOfData)="loadNextSetOfData($event)" (columnClicked)="columnClicked($event)">
      </sdzl-layout-table-with-lazy-loading>
    </div> -->
  </div>
</div>
<router-outlet></router-outlet>
