.mainComponent {
  background-color: #F9FAFB;
  border-radius: 6px;
  padding: 13px;
  border: 1px solid rgb(249, 250, 251);
  height: 100%;
}

.threatStrategylabel {
  color: #5484D1;
}



.firstDiv .labelCountFirstDiv {
  display: flex;
  background-color: #F6F6F6;
}

.firstDiv .firstHeading {
  width: 90%;
  color: #606060;
  padding: 7px;
  padding-left: 16px;
  font-weight:500;
}

.firstDiv .countlabel {
  color: #5484D1;
  font-size: 20px;
  //cursor: pointer;
}


.secondtDiv, .firstDiv, .thirdDiv, .fourthDiv {
  box-shadow: 0 0 3px 0 #bfbdbd;
  border-radius: 3px;
  margin: 8px 0px;
}

.pointer {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}


.secondtDiv .labelCountFirstDiv {
  display: flex;
  background-color: #F6F6F6;
}

.secondtDiv .firstHeading {
  width: 90%;
  color: #606060;
  padding: 7px;
  padding-left: 16px;
  font-weight:500;
}

.secondtDiv .countlabel {
  color: #F07878;
  font-size: 20px;
}


.thirdDiv .labelCountFirstDiv {
  display: flex;
  background-color: #F6F6F6;
}

.thirdDiv .firstHeading {
  width: 90%;
  color: #606060;
  padding: 7px;
  padding-left: 16px;
  font-weight:500;
}

.thirdDiv .countlabel {
  color: #78F088;
  font-size: 20px;
}

.fourthDiv .labelCountFirstDiv {
  display: flex;
  background-color: #F6F6F6;
}

.fourthDiv .firstHeading {
  width: 90%;
  color: #606060;
  padding: 7px;
  padding-left: 16px;
  font-weight:500;
}

.fourthDiv .countlabel {
  color: #565656;
  font-size: 20px;
}

.listCard {
  margin: 10px 0px;
  display: flex;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 0 3px 0 #bfbdbd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.listmainContainer {
  padding: 15px;
  background-color: #F6F6F6;
  overflow: auto;
  max-height: 400px;
}

.horizontalline {
  position: absolute;
  padding: 2px;
  width: 100%;
  background-image: linear-gradient(to bottom, #E6E6E6, #E6E6E6);
  margin-top: -16px;
  margin-left: -15px;
}

.firstListHeading {
  font-size: 14px;
  color: #5484D1;
  font-weight:500;
}

.firstListInformation {
  font-size: 13px;
  color: #707070;
  margin-bottom: 2px;
}

.labelsThreadOptn {
  color: #808080;
  font-size: 14px;
  font-weight:500;
}

.firstlabel {
  color: #FF6060;
}

.secondlabel {
  color: #4FD561;
  margin-left: 10px;
}

.listCardNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 21px;
}

.secondtDivMainContainer, .secondtDivMainContainerOne, .secondtDivMainContainerTwo {
  padding: 15px;
  background-color: #F6F6F6;
  overflow: auto;
  max-height: 400px;
}


.secondcard {
  margin: 10px 0px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 0 3px 0 #bfbdbd;
}

.TreadsOpporInformation {
  color: #314353;
  font-size: 13px;
}

.conditionLabe {
  font-size: 10px;
  padding: 6px 8px;
  background-color: #7D92AF;
  color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  text-transform: capitalize;
  width: 96px;
  height: auto;
}

.futureHeading {
  font-size: 13px;
  color: #303030;
  margin-bottom: 3px;
  font-weight:500;
}

.futureInformation {
  color: #314353;
  font-size: 13px;
  margin-bottom: 2px;
}

.futureLastUpdate {
  color: #808080;
  font-size: 13px;
  font-style: italic;
}

.nameCircle {
  background-color: #A85ACE;
  color: white;
  border-radius: 50%;
  font-size: 23px;
  text-align: center;
  padding: 5px 11px 9px 11px;
  font-weight: bold;
}

.mainDivDrowpDown {
  height: 70%;
  margin-top: 12px;
}

.customeDiv {
  position: relative;
}


#scorllingDivOne::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#scorllingDivOne::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#scorllingDivOne::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  //.mainDivDrowpDown{
  //  position: relative !important;
  //    bottom: -146px !important;
  //  max-height: 550px !important;
  //}
  //.mainComponent{
  //  height: 95% !important;
  //}
}


.viewDetailsNavigation{
  border-radius: 4em;
  padding: 2px 14px;
  border: 2px solid gainsboro;
  cursor: pointer;
  font-size: 13px;
}
.viewDetailBut{
  padding-top: 15px;
  padding-left: 0px !important;
}

.viewDetailsNavigation:hover {
  color: #fff;
  background-color: #415AD5;
  border: 2px solid #415AD5;
}

.viewDetailBut, .viewDetailText{
  padding-left: 15px;
}

.viewDetailText span{
  color: #303030;
  font-size: 13px;
}
div.collapsed {
  height: 80px;
  overflow: hidden;
  margin-top: -10px;
}

.viewReadMore{
  width: fit-content !important;
  color: #3972D6 !important;
  cursor: pointer!important;
  font-size: 14px !important;
  padding-left: 10px;
}


.viewDetailText p{
  margin-bottom: 0px;
  font-size: 16px;
}

.mainComponent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.mainComponent::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

