<div class="row mainComponent" [style.overflow-y]="!isCollapsed ? 'auto' : 'unset'" >
  <div class="col-lg-12">
    <h4 class="threatStrategylabel">{{listName}} </h4>
  </div>
  <div class="col-lg-12 " *ngIf="isCapability" style="height: fit-content;">
      <p *ngIf="!isReadMore" style="margin-bottom: 0px;">
          {{normalObject}}
      </p>
    <div [class.collapsed]="isCollapsed" *ngIf="capabilitySuggestion" [ngStyle]="isCollapsed ? setMyStylesBackground() : ''"> 
      <p [style.marginTop.px]="!isCollapsed ? '-5' : '0'">
        <span *ngIf="isCollapsed">  {{concatObject}}</span>  
        <span *ngIf="!isCollapsed">  {{normalObject}}</span>        
        <span (click)="isCollapsed = !isCollapsed" *ngIf="capabilitySuggestion && isReadMore" style="width: fit-content;"><span class="viewReadMore"
          *ngIf="isCollapsed">READ MORE</span>
        <span class="viewReadMore" *ngIf="!isCollapsed">READ LESS</span>
      </span>
      </p>
  
    </div>
 
    <div class="col-lg-12 viewDetailBut" *ngIf="isCapability">
      <span class="viewDetailsNavigation"  (click)=capabilityDetailPage()>
        View details
      </span>
    </div>
  </div>


  <div class="col-lg-12 mainDivDrowpDown" [style.marginTop.px]="!isCapability ? '-130' : '10'">

    <div class="customeDiv">

      <div class="firstDiv" *ngIf="firstDivShow" [ngClass]="{'pointer' : capabilityDataJson.linkedTrendsCount !== 0}">
        <div class=" labelCountFirstDiv" (click)="linkedDivFun(capabilityDataJson.linkedTrendsCount)">
          <h6 class="firstHeading"><span class="countlabel">{{capabilityDataJson.linkedTrendsCount}}</span>
            {{'LINKED TRENDS' | languageString:'general'}}
          </h6>
          <div *ngIf="!linkedDiv"><img src="./assets/Images/arrowBackGroundWhite.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedTrendsCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
          <div *ngIf="linkedDiv"><img src="./assets/Images/clsoeNoneBackground.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedTrendsCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
        </div>
        <div class="listmainContainer" *ngIf="linkedDiv" id="scorllingDivOne" [@expandableState]="linkedDiv">
          <span class="horizontalline"></span>
          <div class="listCard" *ngFor="let data of capabilityDataJson.linkedTrends" (click)="getTrendData(data)">
            <div class="listCardInformation" style="width: 80%">
              <h6 class="firstListHeading"> {{data.title}} </h6>
              <p class="firstListInformation"> {{data.description}} </p>
              <h6 class="labelsThreadOptn"><span class="firstlabel"> {{data.totalThreatsCount}}</span> Threats <span
                  class="secondlabel"> {{data.totalOpportunitiesCount}}</span> Opportunities </h6>
            </div>
            <div class="listCardNavigation">
              <img src="./assets/Images/interfacerightsideblue.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="secondtDiv" *ngIf="secondtDivShow"
        [ngClass]="{'pointer' : capabilityDataJson.linkedThreatsCount !== 0}">
        <div class=" labelCountFirstDiv" (click)="threadDivFun(capabilityDataJson.linkedThreatsCount)">
          <h6 class="firstHeading"><span class="countlabel">{{capabilityDataJson.linkedThreatsCount}} </span>
            {{'THREATS' | languageString:'general'}}
          </h6>
          <div *ngIf="!threadDiv"><img src="./assets/Images/arrowBackGroundWhite.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedThreatsCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
          <div *ngIf="threadDiv"><img src="./assets/Images/clsoeNoneBackground.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedThreatsCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
        </div>
        <div class="secondtDivMainContainer" *ngIf="threadDiv" id="scorllingDivOne" [@expandableState]="threadDiv">

          <span class="horizontalline"></span>
          <div class="secondcard"
            *ngFor="let data of capabilityDataJson.linkedThreats | orderByImpactScoreDescription: 'impactScoreDescription'"
            (click)="getThreatData(data)">

            <h6 class="TreadsOpporInformation">{{data.title}}</h6>
            <div class="row" style="padding-top: 8px;">
              <div class="col-9 text-left" style="padding:4px 0 0 0">
                <h6 class="TreadsOpporInformation"> Impact Score <span
                    style="color:#53B8D1;font-weight:500;">{{data.impactScoreDescription}}</span></h6>
              </div>
              <div class="col-3 text-center">
                <h6 class="conditionLabe"> {{data.likelihoodName.toUpperCase()}}</h6>
              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="thirdDiv" *ngIf="thirdDivShow"
        [ngClass]="{'pointer' : capabilityDataJson.linkedOpportunitiesCount !== 0}">
        <div class=" labelCountFirstDiv" (click)="trendDivDivFun(capabilityDataJson.linkedOpportunitiesCount)">
          <h6 class="firstHeading"><span class="countlabel">{{capabilityDataJson.linkedOpportunitiesCount}}</span>
            {{'OPPORTUNITIES' | languageString:'general'}}</h6>
          <div *ngIf="!trendDiv"><img src="./assets/Images/arrowBackGroundWhite.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedOpportunitiesCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
          <div *ngIf="trendDiv"><img src="./assets/Images/clsoeNoneBackground.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedOpportunitiesCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
        </div>
        <div class="secondtDivMainContainerOne" *ngIf="trendDiv" id="scorllingDivOne" [@expandableState]="trendDiv">

          <span class="horizontalline"></span>
          <div class="secondcard"
            *ngFor="let data of capabilityDataJson.linkedOpportunities | orderByImpactScoreDescription: 'impactScoreDescription'"
            (click)="getOpportunityData(data)">

            <h6 class="TreadsOpporInformation">{{data.title}}</h6>
            <div class="row" style="padding-top: 8px;">
              <div class="col-9 text-left" style="padding:4px 0 0 0">
                <h6 class="TreadsOpporInformation"> Impact Score <span
                    style="color:#53B8D1;font-weight:500;">{{data.impactScoreDescription}}</span></h6>
              </div>
              <div class="col-3 text-center">
                <h6 class="conditionLabe"> {{data.likelihoodName.toUpperCase()}}</h6>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="fourthDiv" *ngIf="fourthDiv"
        [ngClass]="{'pointer' : capabilityDataJson.linkedSuggestionsCount !== 0}">
        <div class=" labelCountFirstDiv" (click)="futureDivFun(capabilityDataJson.linkedSuggestionsCount)">
          <h6 class="firstHeading"><span class="countlabel">{{capabilityDataJson.linkedSuggestionsCount}} </span>FUTURE
            TEAM'S SUGGESTIONS</h6>
          <div *ngIf="!futureDiv"><img src="./assets/Images/arrowBackGroundWhite.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedSuggestionsCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
          <div *ngIf="futureDiv"><img src="./assets/Images/clsoeNoneBackground.svg"
              [ngClass]="{'default-cursor' : capabilityDataJson.linkedSuggestionsCount === 0}"
              style="width: 32px;margin-top: 8px;" /></div>
        </div>
        <div class="secondtDivMainContainerTwo" *ngIf="futureDiv" id="scorllingDivOne" [@expandableState]="futureDiv">
          <span class="horizontalline"></span>
          <div class="secondcard" *ngFor="let data of capabilityDataJson.linkedSuggestions">
            <div class="row">
              <div class="col-3">
                <!--                <label-->
                <!--                  class="nameCircle"> {{data.analystFirstName.charAt(0)}} {{data.analystLastName.charAt(0)}} </label>-->
                <sdzl-widget-user-badge [batchContent]="getBatchData(data)" [diameter]="'55px'" [textSize]="'22px'">
                </sdzl-widget-user-badge>
              </div>
              <div class="col-9" style="padding: 0px;">
                <h6 class="futureHeading"> {{data.analystFirstName}} {{data.analystLastName}}</h6>
                <p class="futureInformation">{{data.description}}</p>
                <span class="futureLastUpdate"> {{data.createdDate | date :'longDate'}} </span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>