<div class="gContainer position-relative">
  <div class="gContainer hide-scroll" [ngStyle]="imapctPopUpDiv && {'filter': 'blur(6px)'}">
    <div class="row orgImpactHeading">
      <div class=""><h5 class="organizationImpactlabel"> {{categoryName}} <br></h5></div>

      <div class="organizationImpactCountMainDiv"><span
        class="organizationImpactCount"> {{categoryCount}} {{categoryGroupName }} </span>
      </div>

    </div>
    <div class="orgImpStrategicStreamComponent">
      <div class="row height100p">
        <div class="col-lg-8">
          <div class="row circleDiv">
            <div class="col-lg-12 streamGroup">
              <div class="row emptyCircleSVG" [transition-group]="'flip-list'" *ngIf="categoryGroup"
                   [@listAnimation]="categoryCount">
                <div class="col-4 text-center" *ngFor="let data of categoryGroup | orderBy: 'impactScore'"
                     transition-group-item>
                  <div class="vertical-line" [ngStyle]="{'opacity': (lineVisibility ? 1 : 0)}"></div>
                  <div class="horizontal-line" [ngStyle]="{'opacity': (lineVisibility ? 1 : 0)}"></div>
                  <app-empty-circle-organization-impact-svg title={{data.name}} [color]="svgColor" [categoryGroup]="categoryGroupName"
                                                            [active]="data.active"
                                                            [scaleImapct]="data.impactScore"
                                                            [capabilityName]="data.name"
                                                            [svgScale]="'scale(' + data.scale + ')'"
                                                            (svgClickedEvent)="viewDropDown($event, data)"></app-empty-circle-organization-impact-svg>
                </div>
                <div class="col-4 dummy" *ngFor="let data of dummyArray">
                  <div class="vertical-line" [ngStyle]="{'opacity': (lineVisibility ? 1 : 0)}"></div>
                  <div class="horizontal-line" [ngStyle]="{'opacity': (lineVisibility ? 1 : 0)}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row timelineFilter">
            <div class="col-12 text-center">

              <app-timeline-impactscorfilter (applyFilterEvent)="yearFilterSelected($event)"
                                             [yearActive]="timeLineYearIDImapct"></app-timeline-impactscorfilter>
            </div>
          </div>
        </div>
        <div class="col-lg-4 viewDroupDown">
          <div class="suggestionDiv" *ngIf="suggestionDivShow">
            <div class="row">
              <div class="col-12">
                <p class="informationSuggestion">
                  Select a {{categorylistName }} to view its related impact
                  statements, {{'suggestions' | languageString:'general'}} & {{'trends' | languageString:'general'}}
                </p>
              </div>
              <div class="col-6">
                <h4 class="suggestiontextH4">
                  {{renderImpactJson.overallImpactScore | number :'1.1-1'}}
                </h4>
                <h6 class="suggestiontextH6">
                  OVERALL {{'IMPACT' | languageString:'general'}} SCORE
                </h6>
              </div>
              <div class="col-6">
                <h4 class="suggestiontextCount">
                  {{renderImpactJson.totalTrends}}
                </h4>
                <h6 class="suggestiontextH6">
                  TOTAL {{'TRENDS' | languageString:'general'}}
                </h6>
              </div>
            </div>
          </div>
          <div class="viewDroupDown" *ngIf="viewDroupDownDiv">

            <app-organisation-impact-drowp-down-list
              (dropDownClickedEvent)="SetAPICall($event)"></app-organisation-impact-drowp-down-list>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="droupDownDiv" *ngIf="imapctPopUpDiv">
    <div class="row thredopportunityDetails">
      <div class="col-12" *ngIf="thredopportunityDiv">
        <app-thredopportunity-details-page
          (countChanged)="countChangedHandlerthread($event)"></app-thredopportunity-details-page>
      </div>
      <div class="col-12" *ngIf="trendCategoryDiv">
        <app-trend-category-details (countChanged)="countChangedHandler($event)"></app-trend-category-details>
      </div>
    </div>
  </div>
</div>

