.organizationImpactlabel {
  color: #4C5E7A;
  padding: 10px 25px;
  background-color: #f8f8f8;
  width: auto;
  font-size: 17px;
  border-radius: 7px;
  margin-bottom: 0;
  //font-weight: 600;
  font-weight:500;
  float: left;
  margin-left: 84px;
}

.organizationImpactCount {
  font-weight:500;
  color: #7D92AF;
  margin-left: 108px;
  position: absolute;
  margin-top: 43px;
}

.hide-scroll {
  overflow: hidden;
}

.orgImpStrategicStreamComponent {
  margin-left: -12px;
  height: calc(100% - 100px);
  padding-top: 15px;
}

.viewDroupDown {
  padding: 0px;
  overflow: hidden;
  overflow-x: hidden;
  margin-bottom: 20px;
  height: 100%;
}

.informationSuggestion {
  color: #A7A7A7;
  font-style: italic;
}

.suggestiontextH4 {
  font-weight:500;
  color: #FEDB6E;
}

.suggestiontextH6 {
   
  color: #575757;
}

.suggestiontextCount {
  font-weight:500;
  color: #5484D1;
}

.suggestionDiv {
  margin: 80px;
}

.emptyCircleSVG {
  padding: 0px 140px;
  padding-left: 140px;
  padding-right: 40px;
}

.vertical-line {
  border-left: 2px solid #ddd8d8;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 50%;
  opacity: 0.5;
  transition: opacity 0.5s;
  opacity: 0.5;
}

.verticalLine {
  border-left: 2px solid #ddd8d8;
  //height: 180%;
  //position: absolute;
  position: fixed;
  height: 57vh;
  left: 33%;
  //top: 0;
  z-index: -1;
}

.verticalLineone {
  border-left: 2px solid #ddd8d8;
  //height: 180%;
  //position: absolute;
  position: fixed;
  height: 57vh;
  left: 16%;
  //top: 0;
  z-index: -1;
}

.verticalLineTwo {
  border-left: 2px solid #ddd8d8;
  //height: 180%;
  //position: absolute;
  position: fixed;
  height: 57vh;
  left: 49%;
  //top: 0;
  z-index: -1;
}

.horizontal-line {
  border-top: 2px solid #ddd8d8;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 50% ;
  opacity: 0.5;
}

.dummy {
  height: 200.095px;
  width: 170.288px;
}

.horizantal {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 78%;
  margin-left: -39px;
  z-index: -1;
}

.streamGroup {
  overflow: auto;
  height: 100%;
  padding-right: 100px;
}

.streamGroup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.streamGroup::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.streamGroup::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
}

.timelineFilter {
  height: 100px;
  padding-top: 50px;
  // opacity: .5;
  // pointer-events: none;
}

.thredopportunityDetails {
  position: relative;
  z-index: 1;
  background: white;
  width: 100%;
  padding: 10px;
  border: 2px solid #5170c3;
  border-radius: 15px;
  overflow-y: auto;
  box-shadow: 0 0 5px #5a6aa0;
}

.droupDownDiv {
  background-color: rgba(1, 8, 33, 0.45);
  padding: 80px 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.orgImpactHeading {
  display: -ms-grid;
  padding-top: 20px;
  height: 100px;
}

.circleDiv {
  height: calc(75vh - 100px);
}

.organizationImpactCountMainDiv {
  float: left;
  display: contents;
}
